
.chart-header{display: flex;text-align: right;padding: 10px;background-color: #dbdb0f1e;}
.chart-header #chartTitle{flex-grow: 5;}

.char-area{display: flex;flex-direction: row;}
.char-area .chart-data{width:50%; float:left;}
.char-area .chart-graph{width:50%; float: right;padding: 15px;}

/* 탭 전체 스타일 */
.tabs {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);}

/* 탭 스타일 */
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 1px solid #333333;
  background-color: #f8f8f8;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #333333;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
  display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
  display: none;
  padding: 10px 10px 0;
  clear: both;height: 540px;overflow: auto;
}


/* 선택 된 탭 콘텐츠를 표시 */
#data:checked ~ #data_content,
#loading:checked ~ #loading_content,
#setting:checked ~ #setting_content {
  display: block;
}

/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item {border-bottom: 3px solid #163cc7;}

label.input-group-text {width: 80px;text-align: center;display: flex;justify-content: center;}

#displayData{height: 405px;overflow:auto;}
#displayData thead { position: sticky;  top: 0; z-index: 1; }
#displayData th{background-color: #eeeeee;  min-width: 140px;}
#displayData th:first-child, #displayData td:first-child { position: sticky; left: 0;width:80px; }

.popover{width: 250px;max-width: 100%;}
.popover input{width:100px;}

.card {
    border: none;
    -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
	margin-bottom:20px;
}
.card-heading {
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.card-header {
    position: relative;
    padding: 1.5rem;
    border-bottom: none;
    background-color: #fff;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    z-index: 2;
}
.card-header:first-child {
    border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.5rem;
}

.select2 {padding-left:0;padding-right:0; margin-right:5px;margin-left:5px;}
.form-control-color {width:2rem;height:28px;padding:0;overflow:hidden;}
#tableTool{height: 30px;width:100%; margin-top: 7px; margin-bottom: 7px;display: flex;justify-content: flex-end;}
#tableTool #excelFile {width:50%;}

.tableButton {float:right;}
.contextmenu {
  display: none;
  position: absolute;
  width: 200px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border-radius: 5px;
  list-style: none;
  box-shadow:
    0 15px 35px rgba(50,50,90,0.1),
    0 5px 15px rgba(0,0,0,0.07);
  overflow: hidden;
  z-index: 999999;
}

.contextmenu li {
  border-left: 3px solid transparent;
  transition: ease .2s;
  padding:5px;
  padding-bottom: 0px;
}

.contextmenu li:last-child {
	padding-bottom: 10px;
}

.contextmenu li a {
  display: block;
  padding: 1px;
  color: #141414;
  text-decoration: none;
  transition: ease .2s;
}

.contextmenu li:not(:last-child):hover {
  background: #CE93D8;
  border-left: 3px solid #9C27B0;
}

.contextmenu li:hover a {
  color: #FFFFFF;
}

.tableButton svg{
	border-radius: 4px;
}

.tableButton svg:hover{
	background-color:#ddd;
}
.graphImage{width:30px;height:30px;}
.graphKind {width:30px;height:30px;float: right; cursor: pointer;}

.select2-container{z-index:999999;}

.clr-picker{z-index: 9999998;}
.full .clr-field button {width: 30px;height: 100%;border-radius: 5px;}
.full .clr-field input{width: 30px;height:20px;}
.full label{display:none;}

#makedList {margin-top:10px}
#makedList>.card-header{padding: 1rem;}
#makedList .card-header{display: flex;justify-content: space-between;align-items: center;}
#makedList>.card-body{padding:0.5rem;}
#makedList .makedSearch {width:250px; margin-left: 160px;}
#makedListTable tbody tr {cursor: pointer;}
#clr-picker {z-index: 999999;}
#displayData {max-width:635px;}
#displayData table th {word-break:keep-all;}
#displayData table td:first-child {word-break:keep-all;white-space: nowrap;width:60px;min-width: 60px;background-color: #eeeeee;max-width: 120px;overflow: auto;font-size: 14px;}
#displayData table td {min-width:110px; box-shadow: initial;}


.condition-list ul{    list-style: none;
  padding-left: 0px;
  max-height: 120px;
  overflow-y: scroll;}

.input-text{position:relative;margin: 0 10px;}
.input-text input { box-sizing:border-box; padding:15px 0 5px 10px; width:100%; height:100%; border:0 none;  outline:none; }
.input-text label { position:absolute; left:0%; bottom:0; width:100%; height:100%; border-bottom:1px solid #000; text-align:left; pointer-events:none; }
.input-text label:after { content:""; position:absolute; left:0; bottom:-1px; width:0; height:100%; border-bottom:3px solid #5fa8d3; transition:all .3s ease; } /* 파란색 가로줄 */
.input-text label span { position:absolute; left:10px; bottom:5px; transition:all .3s ease; color:#595f63;}
.input-text input:focus + label span, 
.input-text input:valid + label span,
.input-text textarea:focus + label span,
.input-text textarea:valid + label span{ transform:translateY(-110%); font-size:14px; color:#5fa8d3; }  /* input에 글을 입력하고 포커스가 지나간 상태에서 제어하려면 valid 선택자를 써야한다. */
/* 포커스 될 때 label span(name)이 위로 올라감 */
.input-text input:focus + label::after,
.input-text input:valid + label::after { width:100%; transform:translateX(0); } 
/* 포커스 될 때 파란색 가로줄이 생김 */