@charset "utf-8";

/* member ---------------------------------------------------------------------------------------- */
.memberBox {width:100%; padding: 20px 10px;}
.memberBox h1{font-size: 2em;font-weight: bold;line-height: 1.4;text-align:center;word-wrap: break-word;word-break: keep-all;}
.memberBox h2{font-size: 1.3em;margin-bottom:20px;font-weight: 400;line-height: 1.4;word-wrap: break-word;word-break: keep-all;}
.memberBox h3{font-size: 1.1em;font-weight: bold;line-height: 1.4;word-wrap: break-word;word-break: keep-all;}
.memberBox .message {margin-top: 5px;color: #457fff;text-align:left;margin-left:2%;word-wrap: break-word;word-break: keep-all;line-height: 1.4;}
.memberBox .msgError{color: #e94242;}
.memberBox .inputError{border:1px dashed #f00 !important;background-color:rgb(250, 255, 189) !important;}
.memberBox .auth_form{margin-bottom:20px;text-align:center;}
.memberBox label {height: 24px;cursor: pointer;line-height: 22px;color: #222;font-size: 15px;width: 100%;}
.memberBox label input[type="checkbox"]{width: 18px;height: 18px;margin-right: 5px;}
/* .memberBox input[type="checkbox"]{display:none;} */
/* .memberBox .auth_form>input[type="checkbox"] + label {margin-left:5%;text-align:left;display: inline-block;padding-left:28px;background: url('/image/checkTerms_off.png') no-repeat 0% 50%;background-size: 20px 20px;}
.memberBox .auth_check>input[type="checkbox"] + label {display: inline-block;height: 24px;cursor: pointer;line-height: 22px;color: #222;background: url('/image/checkTerms_off.png') no-repeat 100% 50%;background-size: 20px 20px;font-size: 15px;width: 100%;} */
.memberBox .auth_form>input {width:100%;}
.memberBox .auth_form>select{width:100%;height: 36px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;}
.memberBox .auth_check label span {font-size: 13px;}
.memberBox .txt_blue {color: #457fff;}
.memberBox .btnBox {margin: 30px auto 30px auto;display: flex;justify-content: space-between;padding: 0 10px;}
.memberBox .btnBox.center {justify-content: center;}
.memberBox .btnWhiteW50 {position: relative;width: 100%;max-width: 400px;background-color: #fff;display: inline-block;color: #333;height: 55px;line-height: 55px;font-size: 20px;font-weight: bold;text-align: center;border: 1px solid #aaa;}
.memberBox .btnWhiteW50 .icon {position: absolute;left: 12px;top: 12px;}
.memberBox .btnBlueW50 {background-color: #457fff;display: inline-block;color: #fff;height: 55px;line-height: 55px;font-size: 20px;vertical-align: top;width: 48.7%;font-weight: bold;text-align: center;}
.memberBox .btnGrayW50 {background-color: #626262;display: inline-block;color: #fff;height: 55px;line-height: 55px;font-size: 20px;vertical-align: top;width: 48.7%;font-weight: bold;text-align: center;}
.memberBox .btnBlueW50.width100 {width: 100%;max-width: 400px;}
.memberBox input[type="text"], .memberBox input[type="tel"], .memberBox input[type="number"], .memberBox input[type="email"], .memberBox input[type="password"], .memberBox textarea {height: 36px;width: 100%;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 0;-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.memberBox .link {color:blue; font-size:18px;}
.memberBox .line_dashed {border-bottom: 1px dashed #aaa; margin: 30px 0;}
.memberBox .line_solid {border-bottom: 1px solid #aaa; margin: 30px 0;}
.memberBox .agreebox {position: relative;margin: 10px 10px 30px 10px;padding: 8px 10px;border: 1px solid #e5e5e5;background: #f8f8f8;overflow: auto;font-size: 1em;color:#000;line-height: 1.3;height:150px;line-height: 1.6em;}
.modifyPw {display: none;}
.memberBox .modify-cont {display: none;}
.memberBox .modify-cont.open {display: block;}
.memberBox .modify-cont .modifyPw {display: block;}

/* //member ---------------------------------------------------------------------------------------- */


/* box ---------------------------------------------------------------------------------------- */
div[data-dinnum] > div {overflow: hidden;}
div[data-dinnum] > div:last-child {margin-bottom: 0;}
.box {clear: both;position: relative;width:100%;padding-bottom: 20px;}


/* box_title */
.box_title {position: relative;margin-bottom: 15px;display: flex;align-items: center;justify-content: flex-start;}
.box_title .name {position: relative;font-size: 19px;line-height: 1;}


/* banner */
.adlink {background-color: aquamarine;}
.banner li {text-align: center;}
.banner li img {max-width: 100%;}
.banner.left {width:250px;height:75px;}
.banner.right {width:250px;height:75px;}


/* list */
.list {position: relative;width: 100%;}


/* article */
.article {position: relative;width:100%;overflow: hidden;}
.article .thumb {display: flex;border: 1px solid rgba(0,0,0,0.05);position: relative;width:100%;display: flex;justify-content: center;overflow: hidden;background-position: center;background-repeat: no-repeat;background-size: cover;}
.article .thumb > img, .article .thumb img  {width:100%;height: 100%;object-fit: cover;object-position: top;}
.article .thumb > .background {background-image: none !important;}
.article .thumb figure {width: 100%; height: 100%;display: flex;flex-direction: column;}
.article .thumb figure img {height: auto;}
.article .thumb figcaption {font-size: 11px;color: #666666;line-height: 1;margin-top: 3px;}
.article .category {display: block;overflow: hidden;color: #2041ad;font-size: 14px;line-height: 1;margin-bottom: 5px;font-weight: 500;}
.article .title {line-height: 1.4;letter-spacing: -0.67px;font-weight: 500;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap: break-word;word-break: break-all;}
.article .info {display: block;color: #999;font-size: 12px;line-height: 1;}
.article .info .writer {color: #999;}
.article .sub_title {display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap: break-word;word-break: break-all;}
.article .desc {display: -webkit-box;overflow: hidden;color: #666666;font-size: 14px;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap: break-word;word-break: break-all;}
.article .relation .title {-webkit-line-clamp: 1;font-weight: normal;line-height: 1;}


/* main1 */
.main1 {margin: 0 auto;width: 100%;position: relative;}
.main1 .box_title {width: 100%;padding: 0 10px;}
.main1 .list {padding: 0 10px;}
.main1 .article {border-bottom: 1px solid #ccc;padding-bottom: 20px;margin-bottom: 20px;}
.main1 .article:last-child {border-bottom: none;margin-bottom: 0;}
.main1 .article .title {font-size: 20px;line-height: 1.37;letter-spacing: -0.7px;margin-bottom: 10px;width: 100%;}
.main1 .article .cont {width: 100%;display: flex;}
.main1 .article .thumb {width: 40vw;height: 27vw;}
.main1 .article .desc {-webkit-line-clamp: 5;padding-left:15px;line-height: 1.6;}
.main1 .article .relation-list {margin-top: 10px;width: 100%;}
.main1 .article .relation-list .relation {margin-bottom: 5px;}
.main1 .article .relation-list .relation:last-child {margin-bottom: 0;}
.main1 .article .relation .title::before {content: '';display: inline-block;position: relative;width: 12px;height: 12px;margin-right:2px;background: url(../../img/icon/rel.png) no-repeat top;background-size: 11px 9px;}
.main1 .article .relation .title {font-size: 15px;margin-bottom: 0;}


/* main1-1 */
.main1-1 {margin: 0 auto;width: 100%;position: relative;padding-left: 10px;padding-right: 10px;}
.main1-1 .box_title .name {}
.main1-1 .article {border-bottom: 1px solid #ccc;padding-bottom: 20px;margin-bottom: 20px;}
.main1-1 .article:last-child {border-bottom: none;margin-bottom: 0;}
.main1-1 .article .title {font-size: 20px;line-height: 1.37;letter-spacing: -0.7px;margin-bottom: 10px;width: 100%;}
.main1-1 .article .cont {width: 100%;display: flex;}
.main1-1 .article .thumb {width: 40vw;height: 27vw;}
.main1-1 .article .desc {-webkit-line-clamp: 5;padding-left:15px;line-height: 1.6;}


/* main2 */
.main2 {margin: 0 auto;width: 100%;position: relative;}
.main2 .article {border-bottom: 1px solid #ccc;padding-bottom: 20px;margin-bottom: 20px;}
.main2 .article:first-child {padding-bottom: 25px;}
.main2 .article:first-child .thumb {width: 100%;height: 60vw;margin-bottom: 10px;}
.main2 .article:first-child .title {font-size: 26px;line-height: 1.35;}
.main2 .article:first-child .desc {display: none;}
.main2 .article .text_box {padding: 0 10px;}
.main2 .article:not(:first-child) .thumb {display: none;}
.main2 .article:not(:first-child) .title {font-size: 22px;line-height: 1.2;-webkit-line-clamp: 1;}
.main2 .article:not(:first-child) .desc {-webkit-line-clamp: 3;margin-top: 7px;line-height: 1.37;}
.main2 .article:last-child {border-bottom: none;margin-bottom: 0;}


/* main3 */
.main3 {margin: 0 auto;width: 100%;position: relative;padding-left: 10px;padding-right:10px;}
.main3 .article {display: flex;margin-bottom: 20px;}
.main3 .article .thumb {width: 78px;height: 78px;margin-right: 10px;}
.main3 .article .text_box {padding: 6px 0;}
.main3 .article .title {font-size: 17px;line-height: 1.5;font-weight: normal;}
.main3 .article:last-child {margin-bottom: 0;}


/* main8  2022/10/31 추가 */
.main8 {width:100%;position: relative;}
.main8 .box_title {justify-content: space-between;border-bottom: 1px solid #E5E5E5;padding-bottom: 5px;padding-left: 10px;padding-right: 10px;}
.main8 .box_title .name {color: #004080;font-size: 18px;}
.main8 .box_title .name::after {content: '';border-bottom: 1px solid #004080;width: 100%;height: 100%;position: absolute;left: 0;bottom: -10px;}
.main8 .box_title .more {color: #bababa;padding-bottom: 10px;}
.main8 .list {padding: 0 10px}
.main8 .article {margin-bottom: 20px;}
.main8 .article:last-of-type {margin-bottom: 0px;}
.main8 .article .title {font-size: 17px;font-weight: bold;letter-spacing: -0.2px;line-height: 1.2;-webkit-line-clamp: 1;margin-bottom: 10px;}
.main8 .article .desc {font-size: 13px;-webkit-line-clamp: 1;line-height: 1.2;}


/* side-box1  2022/10/26 추가 */
.side-box1 {width:100%;position: relative;}
.side-box1 .box_title {justify-content: space-between;border-bottom: 1px solid #E5E5E5;padding-bottom: 5px;padding-left: 10px;padding-right: 10px;}
.side-box1 .box_title .name {color: #004080;font-size: 18px;}
.side-box1 .box_title .name::after {content: '';border-bottom: 1px solid #004080;width: 100%;height: 100%;position: absolute;left: 0;bottom: -10px;}
.side-box1 .box_title .more {color: #bababa;padding-bottom: 10px;}
.side-box1 .article {width: 100%;height: 70vw;max-height: 450px;}
.side-box1 .article .thumb {width: 100%;height: 100%;border:0;}
.side-box1 .article .text_box {width: 100%;height: 17%;background-color: #0007;position: absolute;bottom: 0;padding: 7px 10px;}
.side-box1 .article .text_box .title {font-size: 17px;color: #FFF;font-weight: normal;line-height: 1.4;letter-spacing: 0;text-shadow: 1px 1px rgb(0 0 0 / 75%);-webkit-line-clamp: 1;}


/* side-box2-slider  2022/10/26 추가 */
.side-box2-slider {width:100%;position: relative;}
.side-box2-slider .box_title {justify-content: space-between;border-bottom: 1px solid #E5E5E5;padding-bottom: 5px;padding-left: 10px;padding-right: 10px;}
.side-box2-slider .box_title .name {color: #004080;font-size: 18px;}
.side-box2-slider .box_title .name::after {content: '';border-bottom: 1px solid #004080;width: 100%;height: 100%;position: absolute;left: 0;bottom: -10px;}
.side-box2-slider .box_title .more {color: #bababa;padding-bottom: 10px;}
.side-box2-slider .list {background-color: #444;}
.side-box2-slider .article .thumb {width: 100%;height: 100%;border: 0;}
.side-box2-slider .main .article {width: 100%;height: 70vw;max-height: 450px;}
.side-box2-slider .nav {padding: 4px;}
.side-box2-slider .nav .article {width: 100%;height: 20vw;max-height: 140px;}
.side-box2-slider .article .text_box {width: 100%;height: 25%;background-color: #0007;position: absolute;bottom: 0;padding: 7px 10px;}
.side-box2-slider .article .text_box .title {font-size: 17px;color: #FFF;font-weight: normal;line-height: 1.4;letter-spacing: 0;text-shadow: 1px 1px rgb(0 0 0 / 75%);}
.side-box2-slider .swiper-slide-thumb-active::after {position: absolute;top: 0;left: 0;content: '';width: 100%;height: 100%;border: 3px solid #dd4f20;}


/* side-box3  2022/10/26 추가 */
.side-box3 {width:100%;position: relative;}
.side-box3 .box_title {justify-content: space-between;border-bottom: 1px solid #E5E5E5;padding-bottom: 5px;padding-left: 10px;padding-right: 10px;}
.side-box3 .box_title .name {color: #004080;font-size: 18px;}
.side-box3 .box_title .name::after {content: '';border-bottom: 1px solid #004080;width: 100%;height: 100%;position: absolute;left: 0;bottom: -10px;}
.side-box3 .box_title .more {color: #bababa;padding-bottom: 10px;}
.side-box3 .list {padding-left: 10px;padding-right: 10px;}
.side-box3 .article {width: 100%;display: flex;height: 75px;margin-bottom: 15px;}
.side-box3 .article:last-of-type {margin-bottom: 0;}
.side-box3 .article .thumb {width: 100px;height: 100%;margin-right: 10px;}
.side-box3 .article .title {font-size: 16px;font-weight: bold;-webkit-line-clamp: 1;margin-bottom: 5px;}
.side-box3 .article .desc {font-size: 13px;-webkit-line-clamp: 2;line-height: 1.5;}


/* side-box4  2022/10/26 추가 */
.side-box4 {width:100%;position: relative;}
.side-box4 .box_title {justify-content: space-between;border-bottom: 1px solid #E5E5E5;padding-bottom: 5px;padding-left: 10px;padding-right: 10px;}
.side-box4 .box_title .name {color: #004080;font-size: 18px;}
.side-box4 .box_title .name::after {content: '';border-bottom: 1px solid #004080;width: 100%;height: 100%;position: absolute;left: 0;bottom: -10px;}
.side-box4 .box_title .more {color: #bababa;padding-bottom: 10px;}
.side-box4 .list {padding-left: 10px;padding-right: 10px;}
.side-box4 .article {width: 100%;margin-bottom: 10px;}
.side-box4 .article .title {font-size: 15px;-webkit-line-clamp: 1;}
.side-box4 .article:last-of-type {margin-bottom: 0;}
.side-box4 .article:first-child {display: flex;}
.side-box4 .article:first-child .thumb {width: 80px;height: 80px;margin-right: 5px;}
.side-box4 .article:first-child .title {font-weight: bold;font-size: 16px;}
.side-box4 .article:first-child .desc {-webkit-line-clamp: 3;font-size: 13px;}



/* 속보 real-time */
.real-time {position: relative;width: 100%;margin-bottom: 30px;border: 1px solid #ccc !important;padding: 8px;display: flex;align-items: center;}
.real-time .box_title {margin-right: 20px;margin-bottom: 0;white-space: nowrap;background-color: #2e4693;padding: 6px 15px;}
.real-time .box_title i {color: #FFF;font-size: 17px;margin-left: 5px;}
.real-time .box_title .name {color: #FFF;font-weight: 500;}
.real-time .swiper {width: 100%;overflow: hidden;display: flex;justify-content: space-between;align-items: center;}
.real-time .swiper .swiper-wrapper {margin-right: 0;height: 32px;}
.real-time .swiper .article.swiper-slide {}
.real-time .swiper .article.swiper-slide .title {-webkit-line-clamp: 1;font-size: 18px;line-height: 1.7;font-weight: bold;}


/* 헤드라인 HD_xl */
.HD_xl {position: relative;width: 100%;margin: 0 auto;}
.HD_xl .box_title {display: none;}
.HD_xl .article {position: relative;margin-bottom: 20px;}
.HD_xl .article:last-child {margin-bottom: 0;}
.HD_xl .article .thumb {width: 100%;height: 55vw;margin-bottom: 10px;}
.HD_xl .article .text_box {padding: 0 15px;}
.HD_xl .article .text_box .title {font-size: 22px;font-weight: bold;}


/* 헤드라인 서브 리스트 HD_sub_list */
.HD_sub_list {position: relative;width: 100%;margin: 0 auto;padding-right:15px;padding-left:15px;}
.HD_sub_list .box_title {display: none;}
.HD_sub_list .list {position: relative;}
.HD_sub_list .article {position: relative;display: flex;margin-bottom: 15px;}
.HD_sub_list .article:last-of-type {margin-bottom: 0;}
.HD_sub_list .article .thumb {width: 27vw;min-width:100px;max-width: 150px;max-height: 100px;min-height: 63px;height: 18vw;border-radius: 6px;margin-right: 15px;border: 1px solid #0001;}
.HD_sub_list .article .text_box .category {display: block;}
.HD_sub_list .article .text_box .title {font-size: 18px;}


/* 헤드라인 리스트 HD_list*/
.HD_list {position: relative;width: 100%;margin: 0 auto;}
.HD_list .box_title {display: none;}
.HD_list .list {position: relative;}
.HD_list .article:last-child() {margin-bottom: 0;}
.HD_list .article:first-child {margin-bottom: 20px;}
.HD_list .article:first-child .thumb {width: 100%;height: 55vw;margin-bottom: 10px;}
.HD_list .article:first-child .text_box {padding: 0 15px;}
.HD_list .article:first-child .text_box .category {display: none;}
.HD_list .article:first-child .text_box .title {font-size: 22px;}
.HD_list .article:not(:first-child) {position: relative;display: flex;margin-bottom: 15px;padding: 0 15px;}
.HD_list .article:not(:first-child) .thumb {width: 27vw;min-width:100px;max-width: 150px;max-height: 100px;min-height: 68px;height: 18vw;border-radius: 6px;margin-right: 15px;border: 1px solid #0001;}
.HD_list .article:not(:first-child) .text_box .title {font-size: 18px;}


/* 시리즈 HLS */
.HLS {position: relative;width: 100%;margin: 0 auto;padding: 20px 15px 5px;}
.HLS .box_title .name {font-weight: bold;letter-spacing: -0.67px;}
.HLS .list {position: relative;display: flex;flex-wrap: wrap;}
.HLS .article {width: calc((100% - 10px) / 2);/*height: 145px;*/margin-right: 10px;margin-bottom: 15px;}
.HLS .article:nth-child(2n) {margin-right: 0;}
.HLS .article .thumb {width: 100%;height: 31vw;;border-radius: 12px;margin-bottom: 5px;}
.HLS .article .text_box .title {font-size: 17px;font-weight: normal;height: 47px;}

.HLS + .HD_xl {margin-top: 20px;}
.HLS + .HD_sub_list {margin-top: 20px;}
.HLS + .HD_list {margin-top: 20px;}
.HLS + .main1 {margin-top: 20px;}
.HLS + .main1-1 {margin-top: 20px;}
.HLS + .main2 {margin-top: 20px;}
.HLS + .main3 {margin-top: 20px;}
.HLS + .real-time {margin-top: 20px;}


/* 시리즈 배경  bg_black  bg_white  bg_blue */
.bg_black {background-color: #363636;}
.bg_white {background-color: #fff;}
.bg_blue {background-color: #2041ad;}
.bg_black .box_title .name {color: #fff;}
.bg_white .box_title .name {color: #2041ad;}
.bg_blue .box_title .name {color: #fff;}
.bg_black .article .title {color: #fff;}
.bg_white .article .title {color: #222;}
.bg_blue .article .title {color: #fff;}


/* board-article-list 주요기사2 */
.box.board-article-list {position:relative;padding: 0 10px 30px;margin: 0 auto;}
.board-article-list .box_title {display: block;width:100%;margin: 0 auto 10px;}
.board-article-list .box_title .name {font-size: 1.3em;font-weight: bold;}
.board-article-list .list {width:100%;height: fit-content;margin:0 auto;position: relative;}
.board-article-list .article {width: 100%;height: fit-content;display: flex;justify-content: flex-start;margin-bottom: 20px;}
.board-article-list .article:last-child {margin-bottom: 0;}
.board-article-list .article .thumb {width:30vw;height: 19.5vw;min-height: 73px;min-width: 105px;max-height: 105px;max-width: 165px;margin-right: 8px;}
.board-article-list .article .text_box {}
.board-article-list .article .text_box .title {position: relative;font-size:1.2em;font-weight: normal;line-height: 1.4;margin-bottom: 6px;-webkit-line-clamp: 1;letter-spacing: -0.3px;}
.board-article-list .article .text_box .desc {font-size: 1em;font-weight: normal;line-height: 1.4;letter-spacing: -0.4px;}


/* text-list 텍스트 기사박스 */
.box.text-list {position:relative;padding: 0 10px 30px;margin: 0 auto;}
.text-list .box_title {display: block;width:100%;margin: 0 auto 10px;}
.text-list .box_title .name {font-size: 1.3em;font-weight: bold;}
.text-list .list {width:100%;height: fit-content;margin:0 auto;position: relative;}
.text-list .article {width: 100%;height: fit-content;display: flex;justify-content: flex-start;margin-bottom: 3px;}
.text-list .article:last-child {margin-bottom: 0;}
.text-list .article .text_box a {display: flex;align-items: center;}
.text-list .article .text_box .title {position: relative;font-size:1em;font-weight: normal;-webkit-line-clamp: 1;letter-spacing:normal;}
.text-list .article .text_box .date {margin-right: 5px;display: inline-block;min-width: 82px;font-size:0.9em;}




/* 뉴스리스트 newslist */
.newslist {position: relative;width: 100%;margin: 0 auto;padding: 0 10px 40px;}
.newslist .box_title {width: 100%;margin-bottom: 25px;}
.newslist .box_title .name {font-size: 22px;}
.newslist .list {position: relative;}
.newslist .article {position: relative;display: flex;padding: 15px 0;border-bottom: 1px solid #eee;}
.newslist .article:first-child {padding-top: 0;}
.newslist .article:last-child {padding-bottom: 0;border-bottom: none;}
.newslist .article .thumb {display: flex;justify-content: center;align-items: center;width: 33vw;min-width:110px;max-width: 180px;max-height: 100px;min-height: 68px;height: 22vw;margin-right: 10px;border-radius: 6px;border: 1px solid #0001;}
.newslist .article .thumb img {width: fit-content !important;}
.newslist .article .text_box {display: flex;flex-direction: column;justify-content: space-between;}
.newslist .article .text_box .title {font-size: 18px;font-weight: 500;-webkit-line-clamp: 2;}
.newslist .article .text_box .info {font-size: 14px;display: flex;flex-direction: row-reverse;justify-content: flex-end;align-items: center;}
.newslist .article .text_box .info .date {margin-right: 10px;}
.newslist .article .text_box .info .writer {white-space: nowrap;}


/* 더보기 버튼 btn_more */
.btn_more {position: relative;display: block;width: calc(100% - 30px);margin: 20px auto 0;border: 1px solid #eee;padding: 5px 0;font-size: 14px;color: #aaa;}


/* newsview /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.newsview {}
/* newsview #title_wrap */
 #title_wrap {position: relative;margin-bottom:15px !important;width:100%;padding: 0 10px;}
 #title_wrap .category {margin-bottom: 5vw;display: inline-block;}
 #title_wrap .category a {font-size: 15px;line-height: 1.2;color: rgb(35, 87, 166);font-weight: 500;}
 #title_wrap .category a:first-child {font-size: 15px;color: #555;}
 #title_wrap .category a:not(:first-child)::before {content: "|"; margin: 0 5px;color: #ddd;}
 #title_wrap .button-cont {display: flex;position: absolute;right: 10px;top: 0;}
 #title_wrap .button-cont .wrap {display: flex;}
 #title_wrap .button-cont .wrap:first-child {display: none;}
 #title_wrap .button-cont .wrap button:first-child {border-right: 0;}
 #title_wrap .button-cont .btn {width: 33px;height: 33px;border: 1px solid #0005;color: #222;font-weight: bolder;display: flex;align-items: center;justify-content: center;}
 #title_wrap .button-cont .btn-font {line-height: 1;}
 #title_wrap .button-cont .btn-font.down {font-size: 12px;}
 #title_wrap .button-cont .btn-font.up {font-size: 16px;}
 #title_wrap .info-cont {width: 100%;display: flex;flex-wrap: wrap;white-space: nowrap;justify-content: space-between;}
 #title_wrap .reporter,  #title_wrap .date {display: inline-block;font-size: 15px;line-height: 1.2;color: #888888;margin-bottom: 18px;}
 #title_wrap .reporter::after {content: "|"; margin: 0 10px;color: #ddd;}
 #title_wrap .share {display: inline-block;}
 #title_wrap .share li {float: left;margin-right: 8px;}
 #title_wrap .share li:last-child {margin-right: 0;}
 #title_wrap .share img {width:30px;height: 30px;}
 #title_wrap .title {font-size: 1.8em;font-weight: normal;line-height: 1.35;letter-spacing: -0.8px;color: #181818;margin-bottom: 20px;}
 #title_wrap .sub_title {margin-bottom: 20px;font-size: 1.1em;font-weight: normal;line-height: 1.44;letter-spacing: -0.67px;color: #181818;border-left: 4px solid #ccc;padding:0 10px;}

/* newsview #body_wrap */
 #body_wrap {position:relative;width:100%;padding: 0 10px;}
 #body_wrap .content {font-size: 1.15em;line-height: 1.6;font-weight: 300;color: #181818;font-weight: 400;}
 #body_wrap .content .align-center {display: table;text-align: center;}
 #body_wrap .content figure {width: calc(100% + 20px) !important;margin-left: -10px;padding: 5px 0;}
 #body_wrap .content figure img {width: 100% !important;height: 100%;object-fit: cover;object-position: center;}
 #body_wrap .content figcaption {font-size: 14px;line-height: 1.3;padding: 2px 10px;text-align: left;color: #777;}
 #body_wrap .copyright {margin-top: 20px;}
/* 추가 */
#body_wrap .content .img {width: calc(100% + 20px);margin-left: -10px;}
#body_wrap .content .img figure {margin-left: unset;width: 100% !important;}
#body_wrap .content .img figure img {width: 100% !important;}

#body_wrap .content > figure > iframe {width: 100%;height: 70vw;}

#body_wrap .content p{margin-bottom:20px;}

/* newsview reporter_news */
 .reporter_news {display: flex;position: relative;width:calc(100% - 20px);border:1px solid #eeeeee;padding:10px;min-height: 140px;margin: 30px 10px 0;}
 .reporter_news .reporter_info {padding: 5vw 0;}
 .reporter_news .reporter_info .thumb {position:relative;width: 17vw;height: 17vw;max-width: 70px;max-height: 70px;min-width: 55px;min-height: 55px;margin-right: 15px;}
 .reporter_news .reporter_info .thumb img {width:100%;height:100%;border-radius: 50%;background-color: #eeeeee;}
 .reporter_news .cont {}
 .reporter_news .reporter {margin-bottom: 5px;}
 .reporter_news .reporter .name {white-space: nowrap;font-size: 1.1em;font-weight: 500;line-height: 1.6;letter-spacing: 0px;color: #000000;margin-right:20px;}
 .reporter_news .reporter .email {white-space: nowrap;font-size: 1em;font-weight: 400;line-height: 1.41;color:#777777;text-overflow: ellipsis;overflow: hidden;word-break: break-all;}
 .reporter_news .list {}
 .reporter_news .article {margin-bottom: 3px;}
 .reporter_news .article .title {font-size: 1em;line-height: 1.4;letter-spacing: -0.5px;color:#000000;max-height: 28px;font-weight: 400;display: -webkit-box;-webkit-line-clamp: 1;}
 .reporter_news .article .title::before {content: "-";margin-right: 3px;}

/* newsview relationList */
 .relationList {margin-top: 40px;padding: 0 10px;}
 .relationList h3 {font-size:1.1em;font-weight: bold;}
 .relationList .list {margin-top: 8px;padding-left: 5px;}
 .relationList .article {margin-bottom: 5px;}
 .relationList .article:last-child {margin-bottom: 0;}
 .relationList .article a {display: flex;flex-wrap: nowrap;}
 .relationList .article .title {-webkit-line-clamp: 1;font-size: 1em;font-weight: normal;line-height: 1.5;}
 .relationList .article .date {min-width: 80px;font-size: 0.9em;line-height: 1.7;color: #888;margin-left: 5px;white-space: nowrap;}


/* comment_area */
.comment_area {overflow: hidden !important;position: relative;width: 100%;padding: 40px 10px;}
.comment_area .box_title {display: flex;justify-content: flex-start;align-items: flex-end;margin-bottom: 7px;}
.comment_area .box_title .count {font-size: 16px;color: #777777;margin-left:5px;}
.comment_area .box_title .btn_social_login {margin-left: 10px;}
.comment_area .box_title .btn_social_login img {height: 25px;}
.comment_area .input {border: 1px solid #cccccc;}
.comment_area .input .comment_input {font-family: 'Noto Sans KR';outline: none;font-size: 15px;color: #666666;padding: 6px;width: 100%;height: 100px;border: 0;border-bottom: 1px solid #f2f2f2;resize: none;}
.comment_area .input .comment_input::placeholder {font-size: 15px;color: #999999;}
.comment_area .input .button_wrap {position: relative;display: flex;margin-top: -1px;}
.comment_area .input .button_wrap .info {word-break: keep-all;width:75%;font-size: 13px;color: #999;line-height: 1.4;display: inline-block;padding: 5px;}
.comment_area .input .button_wrap .length {width: 15%;min-width: 55px;text-align: right;font-size: 13px;color: #999;position: relative;white-space: nowrap;padding: 5px;}
.comment_area .input .button_wrap button {width: 10%;background-color: #0166ad;min-width: 40px;padding: 3px;height: inherit;display: block;color: #ffffff;font-size: 14px;letter-spacing: 1px;float: right;}
.comment_area .sort .item {font-size: 14px;font-weight: 500;color: #222222;margin-right: 10px;cursor: pointer;}
.comment_area .sort .item.active {color: #1e92e5;text-decoration: underline;}
.comment_area .list .item {border-top: 1px solid #cccccc;padding: 10px 10px 0;margin-top: 10px;position: relative;}
.comment_area .list .item .thumb {display: none;}
.comment_area .list .item .text_box {}
.comment_area .list .item .title {margin-bottom: 0;line-height: 1.2;margin-bottom: 7px;}
.comment_area .list .item .title .name {font-size: 16px;color: #0166ad;font-weight: 500;margin-right: 20px;}
.comment_area .list .item .title .date {font-size: 14px;color: #999999;}
.comment_area .list .item .title .more {position: relative;float: right;width:20px;cursor: pointer;}
.comment_area .list .item .title .more img {width:100%;}
.comment_area .list .item .title .more .open {width: 20px;height: 20px;background-image: url(/img/icon/dott.png);background-position: center;background-size: 100% auto;background-repeat: no-repeat;cursor: pointer;background-color: #ffffff;}
.comment_area .list .item .title .more .more_menu {display: none;z-index: 2;position: absolute;top: -5px; right: 25px;width: 40px;background-color: #ffffff;border: 1px solid #cccccc;padding: 5px;}
.comment_area .list .item .title .more .more_menu.on {display: block;}
.comment_area .list .item .title .more .more_menu .more_item {cursor: pointer;background-color: #ffffff;}
.comment_area .list .item .comment {font-size: 15px;color: #666666;line-height: 1.4;;}
.comment_area .list .item .like {text-align: right;margin-top: 2px;}
.comment_area .list .item .like .up::before {content: url("../../img/icon/thumbs_up.png");color: #dd203f;position:absolute;top:0px;left:-25px;}
.comment_area .list .item .like .up {cursor: pointer;font-size: 14px;color: #dd203f;position: relative;margin-right: 50px;}
.comment_area .list .item .like .down::before {content: url("../../img/icon/thumbs_down.png");color: #4867aa;position: absolute;top:2px;left: -25px;}
.comment_area .list .item .like .down {cursor: pointer;font-size: 14px;color: #4867aa;position: relative;}


/* 포토뷰 슬라이드 */
.photo-slide {overflow: scroll;margin: 0 auto;background-color: #000;background-color: rgba(0,0,0,0.9);position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 999;}
.photo-slide.close {clear: both;display: none;}
.photo-slide .box_title {background-color: #222;padding: 5px 10px;margin-bottom: 0;justify-content: space-between;border-bottom: 1px solid #FFF3;}
.photo-slide .box_title .name {color: #FFF;font-size: 1.5em;font-weight: normal;}
.photo-slide .box_title .btn-index {content: '';width: 50px;height: 50px;background: url(../../img/icon/home.png) no-repeat center;background-size: cover;}
.photo-slide .article .thumb {border: 0;}
.photo-slide .inner {margin: 0 auto;}
.photo-slide .btn-link {color: #FFF;font-size: 1.2em;border: 1px solid #EEE;border-radius: 20px;padding: 4px 17px;margin: 0 auto 24px;display: block;}

.photo-slide .inner.main {width: 100%;padding:5vh 10px 0;position: relative;}
.photo-slide .inner.main .arrow-link {width: 5.5vw;height: 80vw;max-width: 27px;min-width: 18px;position: absolute;bottom: 0;display: flex;align-items: center;} 
.photo-slide .inner.main .arrow-link.prev-link {left: 10px;} 
.photo-slide .inner.main .arrow-link.next-link {right: 10px;} 
.photo-slide .inner.main .arrow-link.nonActive {opacity: 0.5;}
.photo-slide .inner.main .arrow-link > img {width: 100%;height: auto;} 
.photo-slide .mainSwiper {width: 80vw;max-width: 500px;}
.photo-slide .mainSwiper .swiper-slide.article .title {color: #FFF;font-size: 1.7em;margin-bottom: 20px;}
.photo-slide .mainSwiper .swiper-slide.article .thumb {width: 100%;height: 80vw;}
.photo-slide .mainSwiper .swiper-pagination {background-color: #222;color: #fff;font-size: 1.2em;height: fit-content;width: fit-content;padding: 5px 10px;left: unset;right: 0;bottom: 0;}
.photo-slide .thumb .popupIcon {position: absolute;top: 3px;right: 3px;cursor: zoom-in;z-index: 10;}

.photo-slide .inner.nav {position: relative;padding: 10px;}
.photo-slide .navSwiper {width: 90vw}
.photo-slide .navSwiper .swiper-slide.article {height:20vw;width: calc((100% - 30px) / 4);max-width: 120px;max-height: 120px;}
.photo-slide .navSwiper .swiper-slide.article .thumb {width: 100%;height: 100%;}
.photo-slide .navSwiper .swiper-slide.article .thumb img {width: 100%;height: 100%;}

/* swiper elements */
.swiper-button-prev {min-width: 15px !important;min-height: 30px !important;background-image: url(../../img/arrow_left.png);background-size: 100% auto;background-repeat: no-repeat;background-position: center;} 
.swiper-button-next {min-width: 15px !important;min-height: 30px !important;background-image: url(../../img/arrow_right.png);background-size: 100% auto;background-repeat: no-repeat;background-position: center;} 
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}  
.swiper-pagination .swiper-pagination-bullet {width: 13px;height: 13px;background-color: #FFF;opacity: 1;margin: 0 7px !important;}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {transition: background-color .5s;background-color:#feda0f;opacity: 1;}


/* 페이지네비게이션 */
.page {position:relative;display: flex;justify-content: center;align-items: center;margin-bottom: 70px !important;}
.page .inner {display: inline-block;}
.page a {float: left;border:1px solid #dddddd;width: 30px;height: 30px;font-size: 14px;color:#999999;line-height: 2.14;text-align: center;margin-right: 5px;}
.page a:last-child {margin-right: 0;}
.page .no.current {color:#ffffff;background-color: #2041ad;border:1px solid #2041ad;}


/* 게시글 리스트(뉴스리스트) */
.board-list {padding-left: 10px;padding-right:10px;}
.board-list .box_title {margin-bottom: 20px;}
.board-list .box_title .name {}
.board-list table.list {width: 100%;border-collapse: collapse;}
.board-list table.list thead {border-top: 2px solid #444;border-bottom: 1px solid #444;}
.board-list table.list thead th {padding: 5px 0;font-size: 0.8em;}
.board-list table.list tbody tr {border-bottom: 1px solid #999;}
.board-list table.list tbody tr td {font-size: 0.9em;padding: 7px 0;text-align: center;color: #555;}
.board-list table.list td .no {background-color: #222;color:#FFF;font-size: 14px;line-height: 1.4;border-radius: 3px;font-weight: normal;display: flex;align-items: center;justify-content: center;}
.board-list table.list td .no .file {color: #31eeff;}
.board-list table.list td .no .file::before {margin: 0 8px;display: inline-block;content: '';width: 15px;height: 13px;background: url(../../img/icon/file.png) no-repeat center;background-size: 100% auto;}
.board-list table.list td.title {padding-right:10px;padding-left: 10px;text-align: left;}
.board-list table.list td.title .ico {width: auto;height: 17px;margin-left: 20px;}
.board-list table.list td.title a {font-size: 1em;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-wrap: break-word;word-break: break-all;}
.board-list table.list td.date {font-size: 0.8em;color: #777;}
.board-list table.list td.icon-file {display: flex;align-items: center;justify-content: center;}
.board-list .bt-cont {display: flex;justify-content: center;align-items: center;margin-top: 40px;}
.board-list .bt-cont .page {position:relative;display: flex;justify-content: center;align-items: center;}
.board-list .bt-cont .page .inner {display: inline-block;}
.board-list .bt-cont .page a {float: left;border:1px solid #ddd;width: 30px;height: 30px;font-size: 14px;color:#999999;line-height: 2.14;text-align: center;margin-right: 5px;}
.board-list .bt-cont .page a:last-child {margin-right: 0;}
.board-list .bt-cont .page .no.current {color:#fff;background-color: #444;}

.board-list .btnWhite {background-color: #FFF;color: #222;padding: 3px 15px;border-radius: 3px;font-size: 14px;border: 1px solid #ddd;}
.board-list .btnWhite:hover {font-weight: bold;}
.btnHeart {font-size: 14px;}
.btnHeart img {height: 17px;width: auto;margin-right: 6px;}

.btnWhite {background-color: #FFF;color: #222;padding: 3px 15px;border-radius: 3px;font-size: 14px;border: 1px solid #ddd;}
.btnWhite:hover {font-weight: bold;}

.btnNavy {font-size: 17px;background-color: #1d366d;color: #FFF !important;border-radius: 3px;padding: 6px 17px;}
.btnNavy:hover {font-weight: bold;}

.board-list .view {}
.board-list .view .title-wrap {width: 100%;}
.board-list .view .title-wrap .title {padding: 7px 0;font-weight: normal;font-size: 1em;line-height: 1.4;word-wrap: break-word;word-break: break-all;border-top: 2px solid #222;border-bottom: 1px solid #222;}
.board-list .view .title-wrap .cont {white-space: nowrap;}
.board-list .view .title-wrap .cont .btnWhite {margin-right: 5px;}
.board-list .view .title-wrap .cont .btnWhite:last-of-type {margin-right: 0;}
.board-list .view .info-cont {display: flex;padding: 10px 0;}
.board-list .view .info-cont .info {line-height: 1.1;display: flex;align-items: center;font-size: 0.9em;margin-right: 10px;}
.board-list .view .info-cont .info:last-of-type {margin-right: 0;}
.board-list .view .content {line-height: normal;padding: 30px 0;}
.board-list .view .info-cont .file {display: inline-flex;align-items: center;}
.board-list .view .info-cont .file::before {margin: 0 8px;display: inline-block;content: '';width: 15px;height: 15px;background: url(../../img/icon/file_b.png) no-repeat center;background-size: 100% auto;}
.board-list .view .info-cont .icon-btn {margin-right: 10px;}
.board-list .view .info-cont .icon-btn img {width: 17px;margin-right: 2px;}

/* .file-download 기사뷰 내 파일 다운로드 리스트 */
.file-download {border-top: 1px solid #ccc;padding: 10px;}
.file-download .box_title {flex-direction: column;align-items: flex-start;}
/* .file-download .box_title  */
.file-download .box_title .desc {margin-top: 5px;font-size: 15px;color: #777;}
.file-download .list {display: flex;flex-wrap: wrap;}
.file-download .list .file {width: calc((100% - 20px) / 3);max-width: 150px;max-height: 180px;height: 40vw;border: 1px solid #ccc;background-color: #ddd;margin-bottom: 10px;margin-right: 10px;padding: 10px 5px;}
.file-download .list .file:nth-of-type(3n), .file-download .list .file:last-of-type {margin-right: 0;}
.file-download .list .file img {width: 100%;height: 25vw;max-height: 120px;margin-bottom: 5px;border: 1px solid #ccc;}
.file-download .list .file div {font-size: 0.8em;line-height: 1.2;font-weight: normal;word-wrap: break-word;word-break: break-all;}


/* #field */
#field {margin-top: 20px;position: relative;width: fit-content;padding: 20px;border: 1px solid #ddd;display: flex;flex-direction: column;align-items: center;}
#field .input-cont {margin-bottom: 10px;}
#field .input-cont label {font-size: 16px;}
#field .input-cont input {margin-right: 10px;}
#field .btnNavy {margin-top: 20px;}


/* 이벤트 페이지 ///////////////////////////////////////////////////////////////////////////////////*/
.body.event {}

.event-nav {width: 100%;margin-bottom: 25px;border-top: 2px solid #222;background-color: #f3f3f3;}
.event-nav::-webkit-scrollbar {display: none;}
.event-nav ul {margin: 0 auto;display: none;}
.event-nav ul.active {display: flex;align-items: center;flex-wrap: wrap;justify-content: center;}
.event-nav ul li {height: 40px;display: flex;align-items: center;justify-content: center;padding: 7px 10px;}
.event-nav ul li a {font-size: 16px;font-weight: normal;line-height: 1.2;white-space: nowrap;text-align: center;}
.event-nav ul li.active {border-bottom: 3px solid #ed292b;padding: 7px 10px 3px 10px;}
.event-nav ul li.active a {font-weight: bold;}
.event-nav ul.menu4 li {width: 50vw;max-width: 170px;}
.event-nav ul.menu3 li {width: 32vw;max-width: 150px;}

.event .bg-cont {width:100%;padding: 20px;background-color: #f3f3f3;word-break: keep-all;}
.event .flex-cont {display: flex;flex-direction: column;}
.event .text-cont {}
.event .thumb-cont {}
.font-28 {font-size: 20px;line-height: 1.4;}
.font-18 {font-size: 18px;line-height: 1.4;}
.font-16 {font-size: 16px;line-height: 1.4;}
.font-red {font-weight: bold;color: rgb(189, 3, 3);}
.event .bg-cont.font-28 {text-align: center;padding: 20px;}
.event .bg-cont.font-16 {text-align: left;}
.event .bg-cont .align-right {text-align: right;font-size: 15px;}
.event .thumb-cont img {width: 100%;height: 100%;object-fit: cover;}
.event .greeting-cont {padding: 40px 10px;}
.event .greeting-cont .thumb-cont {width: 100%;text-align: center;}
.event .greeting-cont .thumb-cont img {width: 70vw;max-width: 390px;height: 100vw;max-height: 555px;box-shadow: 10px -9px 0px 2px #ddd;}
.event .greeting-cont .text-cont {width: 100%;line-height: 1.7;padding: 20px 10px;}
.event .greeting-cont .text-cont .strong {word-break: keep-all;}
.event .regulation-cont {width: 100%;padding:20px 10px;}
.event .title-cont {margin-bottom: 40px;line-height: normal;}
.event .title-cont .title {margin-bottom: 10px;font-weight: bold;color: #555;letter-spacing: -0.5px;}
.event .title-cont .title:last-child {margin-bottom: 0px;}
.event .regulation-cont .section {margin-bottom: 50px;}
.event .regulation-cont .section:last-child {margin-bottom: 0px;}
.event .regulation-cont .section .title {font-size: 17px;margin-bottom: 8px;line-height: 1.37;font-weight: bold;word-break: keep-all;}
.event .regulation-cont .section p {line-height: 1.8;letter-spacing: -0.6px;}
.event .regulation-cont .sub-section {padding: 15px;}
.event .regulation-cont .sub-title {margin-top: 10px;font-weight: bold;color: #192d58;line-height: 1.4;}
.event .regulation-cont .sub-title:first-child {margin-top: 0px;}
.event .regulation-cont .sub-section .title {font-size: 16px;line-height: 1.4;word-break: keep-all;}
.event .bg-cont.mail {display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 20px;}
.event .bg-cont.mail .font-red {font-size: 20px;text-align: center;}
.event .bg-cont.mail p {text-align: center;margin-top: 20px;line-height: 1.6;}
.event .bg-cont.mail .link-cont {margin-top: 20px;font-size: 16px;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}
.event .bg-cont.mail .link-cont a {display: inline-block;text-align: center;font-size: 15px;background-color: rgb(189, 3, 3);color: #FFF;width: 90px;height: fit-content;line-height: 2;border-radius: 3px;white-space: nowrap;}
.event .bg-cont.mail .link-cont span {text-align: center;margin-bottom: 10px;margin-right: 10px;}
.event .terms-cont {padding: 30px 10px;}
.event .terms-cont .cont {border:1px solid #ddd;padding: 15px;font-size: 15px !important;width: 100%;height: 130px;margin-top: 10px;color: #555;line-height: 1.6;word-break: keep-all;overflow-x: auto;}
.event .terms-cont .cont::-webkit-scrollbar {width: 4px;height: 100%;}
.event .terms-cont .cont::-webkit-scrollbar-thumb {background-color: #ddd;;border-radius: 10px;}
.event .terms-cont .cont::-webkit-scrollbar-track {background-color: #eee;}
.event .terms-cont .check-cont {margin-top: 20px;text-align: left;display: flex;align-items: flex-start;}
.event .terms-cont .check-cont input {margin-right: 5px;margin-top: 5px;cursor: pointer;}
.event .terms-cont .check-cont label {letter-spacing: normal;line-height: 1.3;font-size: 15px !important;cursor: pointer;}
.event .terms-cont .check-cont label:hover {font-weight: bold;}
.event .input-cont {width: 100%;border-top: 3px solid #777;border-bottom: 3px solid #777;padding: 0px 10px 40px;}
.event .input-cont .cont {display: flex;align-items: center;padding: 10px 0;}
.event .input-cont .cont span {color: #777;font-size: 14px;margin: 0 10px;white-space: nowrap;}
.event .input-cont .cont label {display: inline-block;font-size: 15px;color: #777;letter-spacing: 1px;width: 80px;min-width: 80px;white-space: nowrap;}
.event .input-cont .cont input {border-radius: 0;border-bottom: 1px solid #ccc;width: 100%;max-width: 350px;height: 35px;font-size: 16px;padding: 0 10px;}
.event .input-cont .cont.period input {width: 100%;max-width: 170px;}
.event .input-cont .cont input[name="title"] {max-width: 100%;}
.event .input-cont .cont input[type="date"] {font-family: 'Noto Sans KR';padding: 0;}
.event .input-cont .cont textarea {font-family: 'Noto Sans KR';border: 1px solid #ccc;width: 100%;height: 200px;resize: none;padding: 10px;font-size: 16px;line-height: 1.5;word-break: break-all;}
.event .input-cont .cont textarea::-webkit-scrollbar {width: 6px;height: 100%;}
.event .input-cont .cont textarea::-webkit-scrollbar-thumb {background-color: #ddd;;border-radius: 10px;}
.event .input-cont .cont textarea::-webkit-scrollbar-track {background-color: #eee;}
.event .input-cont .cont.content-cont {flex-direction: column;justify-content: flex-start;align-items: flex-start;}
.event .input-cont .cont.content-cont label {margin-bottom: 10px;}
.event .input-cont .btn-cont {margin-top: 30px;display: flex;align-items: center;justify-content: center;}
.event .input-cont .btn-cont button {width: 100px;height: 34px;font-weight: bold;font-size: 15px;letter-spacing: 3px;border-radius: 25px;}
.event .input-cont .btn-cont button.bg-blue {background-color: #1d366d;color: #FFF;}
.event .input-cont .btn-cont button.bg-gray {background-color: #888;color: #FFF;}
.event .input-cont .btn-cont button:first-child {margin-right: 10px;}

.event .map {width: 100%;margin: 0 auto;}
.event .map .info {font-size: 1em;line-height: 1.4;margin: 20px 0;word-break: break-all;}
.event .map #map {width: fit-content;margin: 0 auto;}

/* 20221019 연혁페이지 추가 */
.event .history.sfn {width: 100%;min-height: 500px;background: url(../../img/bg/sfn-back.png) no-repeat right;background-size: 80% auto;} /*스마트에프엔 연혁 배경*/
.event .history.kpf {width: 100%;min-height: 500px;background: url(../../img/bg/kpf-back.png) no-repeat center;background-size: 100% auto;} /*한국언론정보기술협회 연혁 배경*/
.event .history .list {margin: 0 auto;padding: 0 10px;}
/* .event .history .list::after { content: "";display: block;position: absolute;height: calc(100% - 40px);top: 0;left: 85px;border-left:1px solid #d0000054;} */
.event .history .year-cont {display: flex;align-items: flex-start;border-bottom: 1px solid #d0000054;padding: 25px 0 10px;}
.event .history .year-cont .year {font-size: 1.7em;font-weight: bold;line-height: 1.5;margin-right: 10px;}
.event .history .month-cont li {display: flex;align-items: flex-start;padding: 10px 0;}
.event .history .month-cont .month {font-size: 1.4em;font-weight: bold;line-height: normal;display: flex;align-items: center;margin-right: 10px;line-height: 1.1;}
.event .history .month-cont .month::before {content: '';width: 12px;height: 12px;background-color: #d41d1d;border-radius: 50%;margin-right: 10px;display: inline-block;position: relative;}
.event .history .month-cont .desc {font-size: 1em;line-height: 1.3;word-break: keep-all;font-weight: normal;}


/*/////////////////////////////////////////////////////////////////////////////////// 이벤트 페이지 */

.article-tags {margin: 10px;font-size: 13px;line-height: 14px;font-weight: 600;width: 100%;}
.article-tags h2{display: inline-block; float: left;height: 26px; margin: 2px 4px 2px 0; padding: 5px 10px; background-color: #222; color: #fff;}
.article-tags a{display: inline-block; float: left; height: 26px; border: 1px solid #ededed; color: #111; padding: 5px 8px; margin: 2px 4px 2px 0;}


/* headline3-slider */
.headline3-slider {margin: 0 auto 30px;width: 100%;position: relative;}
.headline3-slider .article {width: 100%;aspect-ratio: 12 / 10;}
.headline3-slider .article .thumb {width: 100%;height: 100%;border:0;}
.headline3-slider .article .text-box {width: 100%;background-color: #0007;position: absolute;bottom: 0;padding: 20px;}
.headline3-slider .article .text-box .title {font-size: 20px;color: #FFF;font-weight: bold;line-height: 1.4;letter-spacing: 0;text-shadow:1px 1px rgb(0 0 0 / 75%)}
.headline3-slider .swiper-button-prev::after, .headline3-slider .swiper-button-next::after {font-size: 60px !important;}
.headline3-slider .swiper-button-prev, .headline3-slider .swiper-button-next {color: #FFF9;}




