.event-wrap{max-width: 1200px; margin: 0 auto;}
.event_title {font-size: 24px;}
/*
 .event-wrap h4 {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.6px;
}
.event-wrap h5{font-size: 14px;margin-left: 15px;} 
*/
.event-content{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 15px;
}
.list-style{padding-left:15px;margin-bottom:5px}

.event-wrap .list-area{padding: 20px 30px;background: #fff;border: 1px solid #0e4681;}
.event-wrap .list-area li{position: relative;padding-left: 10px;font-size: 15px;font-weight: 500;color: #0e4681;line-height: 25px;margin-bottom: 5px;}
.event-wrap .list-area.w50{display: flex;flex-wrap: wrap;}
.event-wrap .list-area.w50 li{width: 50%;}

.event-item{margin-bottom:25px;}
.event-item h4 {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.6px;
}