@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif+KR&family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap");

@font-face {
    font-family: 'ArchitectsDaughter';
    src: url(/fonts/ArchitectsDaughter-Regular.ttf) format('opentype');
}

/* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */
/* @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(/fonts/NotoSansKR/NotoSansKR-Thin.woff2) format('woff2'),
        url(/fonts/NotoSansKR/NotoSansKR-Thin.woff) format('woff'),
        url(/fonts/NotoSansKR/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/NotoSansKR/NotoSansKR-Light.woff2) format('woff2'),
        url(/fonts/NotoSansKR/NotoSansKR-Light.woff) format('woff'),
        url(/fonts/NotoSansKR/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/NotoSansKR/NotoSansKR-Regular.woff2) format('woff2'),
        url(/fonts/NotoSansKR/NotoSansKR-Regular.woff) format('woff'),
        url(/fonts/NotoSansKR/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/NotoSansKR/NotoSansKR-Medium.woff2) format('woff2'),
        url(/fonts/NotoSansKR/NotoSansKR-Medium.woff) format('woff'),
        url(/fonts/NotoSansKR/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/NotoSansKR/NotoSansKR-Bold.woff2) format('woff2'),
        url(/fonts/NotoSansKR/NotoSansKR-Bold.woff) format('woff'),
        url(/fonts/NotoSansKR/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(/fonts/NotoSansKR/NotoSansKR-Black.woff2) format('woff2'),
        url(/fonts/NotoSansKR/NotoSansKR-Black.woff) format('woff'),
        url(/fonts/NotoSansKR/NotoSansKR-Black.otf) format('opentype');
} */