@charset "utf-8";

@import 
url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif+KR&family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap");


/* Common */
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
* {margin:0; padding: 0;text-size-adjust: none;-webkit-text-size-adjust: none;}
body {
    font-family: 'Noto Sans KR','Apple SD Gothic Neo','Apple Gothic','AppleGothic','sans-serif','dotum';
    font-size:14px;
    line-height:1.6;
    letter-spacing: -0.5px;
    word-spacing: 0px;
    margin:0 auto;
    color:#222222;
    background-color:#FFF;
}

button {background-color: #0000;cursor: pointer;outline:none}
li{list-style:none;}
form,button{border:0; vertical-align:top;}
input{outline: none;border: 0;}
img {border:0;outline: none;
    vertical-align:bottom;
}
em, address{font-style:normal;}
a{color:#222222; text-decoration: none;outline: none;}
a:visited {color: #222222;}
a:active{color: #222222;}
a:hover{text-decoration: none;}
a.visit {}
a.visit:visited {}
a.visit:active{}
a.visit:hover{}
.strong {font-weight: 600;}
input::placeholder {color: #aaaaaa;}

/* 배너 관련 추가 20221230 */
.bnn-h-70px {}
.bnn-h-70px .banner {height: 70px;max-height: 70px;}
.bnn-h-70px .login + .banner {margin-top: 30px;}
.bnn-h-70px .banner ul {height: 100%;}
.bnn-h-70px .banner li {display: flex;align-items: flex-end;justify-content: center;height: 100%;}
.bnn-h-70px .banner img {max-height: 100%;width: auto;object-fit: contain;}
.bnn-h-70px div[data-dinnum="3"] .banner {max-width:300px;float: right;}

/* 면편집 레이아웃 */
.din {position: relative;clear: both;overflow: hidden;width: 1200px;max-width: 100%;margin: 0 auto;padding:0;}
.din.din100 {width: 100%;} /* 하위 영역에서 폭을 지정할 경우 */
.din.header_121 {min-width: 1200px;}

/* 1단 */
.din.din1 {}
.din.din1 > div[data-dinnum] {width:100%;}
.din.din1 > .left {width:50%; float: left;}
.din.din1 > .right {width:50%; margin:15px 0 0 auto;}


/* 2단 1:1 */
.din.din2-11 {}
.din.din2-11 > div[data-dinnum] {float:left;width: 50%;margin-bottom: 0;}
.din.din2-11 > div[data-dinnum="1"] {padding-right: 30px;}
.din.din2-11 > div[data-dinnum="2"] {padding-left: 30px;}

/* 2단 1:2 */
.din.din2-12 {}
.din.din2-12 > div[data-dinnum] {float:left;}
.din.din2-12 > div[data-dinnum="1"] {width: 290px;padding-right: 40px;}
.din.din2-12 > div[data-dinnum="2"] {width: calc(100% - 370px);padding-left: 40px;}

/* 2단 2:1 */
.din.din2-21 {}
.din.din2-21 > div[data-dinnum] {float:left;}
.din.din2-21 > div[data-dinnum="1"] {width: calc(100% - 330px);padding-right: 30px;}
.din.din2-21 > div[data-dinnum="2"] {display: block;float: right;width: 330px;padding-left: 30px;}
.din.din2-21 > div[data-dinnum="1"] > .din {width: 100%;}
.din.din2-21 > div[data-dinnum="1"] > .din.din2-21 > div[data-dinnum="1"] {float: left;width: calc(100% - 240px);padding-right: 20px;border: 0;}
.din.din2-21 > div[data-dinnum="1"] > .din.din2-21 > div[data-dinnum="2"] {float: right;width: 240px;padding-left: 20px;border: 0;}
.din.din2-21 > div[data-dinnum="1"] > .din.din2-12 > div[data-dinnum="1"] {float: left;width: 240px;padding-right: 20px;border: 0;}
.din.din2-21 > div[data-dinnum="1"] > .din.din2-12 > div[data-dinnum="2"] {float: right;width: calc(100% - 240px);padding-left: 0;}
.din.din2-21 > div[data-dinnum="1"] > .din:first-child {padding-bottom: 41px;}
.din.din2-21 > div[data-dinnum="1"] > .din {padding-bottom: 45px;margin-bottom: 0 !important;}
.din.din2-21 > div[data-dinnum="1"] > .din:last-child {border-bottom: 0;padding-bottom: 0;}

/* 3단 1:1:1 */
.din.din3-111 {}
/* .din.din3-111 > div > div {margin-bottom:25px} */
.din.din3-111 > div[data-dinnum] {float:left;}
.din.din3-111 > div[data-dinnum="1"], .din.din3-111 > div[data-dinnum="2"], .din.din3-111 > div[data-dinnum="3"] {width:31%;}
.din.din3-111 > div[data-dinnum="2"] {margin: 0 3.2%;}

/* 3단 1:2:1 */
.din.din3-121 {}
.din.din3-121 > div[data-dinnum] {float:left;}
.din.din3-121 > div[data-dinnum="1"] {width:25%;}
.din.din3-121 > div[data-dinnum="2"] {width:calc(50% - 40px);padding:0 20px;}
.din.din3-121 > div[data-dinnum="3"] {width:25%;}

div[data-dinnum] > div.din {width: 100%;}
div[data-dinnum] > div {overflow: hidden;}
div[data-dinnum] > div:last-child {margin-bottom: 0;}


.width900 {width: 900px;margin: 0 auto;}

/* 단 border */
.border-top {border-top: 1px solid #ccc;}
.border-bottom {border-bottom: 1px solid #ccc;margin-bottom: 30px;}
.border-right {border-right: 1px solid #ccc;}
.border-left {border-left: 1px solid #ccc;}


/* 단 배경색 */
.bg_blue {background-color: #0a1a35;width:100%;padding: 0 calc((100% - 1200px) / 2);}
.bg_red {background-color: #700303;width:100%;padding: 0 calc((100% - 1200px) / 2);}
.bg_gray {background-color: #eee;width:100%;padding: 20px calc((100% - 1200px) / 2);}
.bg_blue .box_title .name, .bg_blue .title, .bg_blue .desc {color: #FFF !important;}
.bg_red .box_title .name, .bg_red .title, .bg_red .desc {color: #FFF !important;}
.bg_gray .box_title, .bg_blue .box_title, .bg_red .box_title {padding-top: 30px;}
.bg_gray .box_title .name, .bg_blue .box_title .name {font-weight: normal;}
.bg_blue .thumb, .bg_red .thumb {border: 0;}

.bg_blue.din.din2-11 div[data-dinnum="1"] {padding: 0 20px 0 0;}
.bg_blue.din.din2-11 div[data-dinnum="2"] {padding: 0 0 0 20px;}
.bg_red.din.din2-11 div[data-dinnum="1"] {padding: 0 20px 0 0;}
.bg_red.din.din2-11 div[data-dinnum="2"] {padding: 0 0 0 20px;}

/* 2022/10/26추가 */
.bg-dark-navy {background-color: #12334c;}
.bg-steel-blue {background-color: #27618d;}
.bg-sky-blue {background-color:#bbd0d7};


/* 2022/10/26추가 */
.shadow {box-shadow: 0px 2px 5px 2px #0003;}
.din.din100.shadow {padding: 0 calc((100% - 1200px) / 2);margin: 0;width: 100%;max-width: unset;box-shadow: 0px 2px 5px 2px #0003;}

/* 2022/10/26추가 dinnum=2 카드형태*/
.dinnum2-card.din2-21 > div[data-dinnum="1"] {width: 65%!important;}
.dinnum2-card.din2-21 > div[data-dinnum="2"] {width:35% !important;background-color: #fafafa;border: 1px solid #dfdfdf !important;padding: 10px !important;}

/* 단 margin */
.mg-bottom {margin-bottom: 30px;}
.mg-top30 {margin-top: 30px;}
.mg-top20 {margin-top: 20px;}
.mg-top0 {margin-top: 0px !important;}

/* 단 padding 2022/10/27 추가 */
.pd-top20 {padding-top: 20px !important;}
.pd-bt20 {padding-bottom: 20px !important;}
.pd-bt0{padding-bottom: 0px !important;}


/* 단 내부 로고 사이즈 2022/10/28 추가 */
header .din.logo-w-100p .logo img {height: unset !important;width: 100% !important;}
header .din.logo-w-350px .logo img {height: unset !important;width: 350px !important;}
header .din.logo-h-70px .logo img {height: 70px;width: auto;}
header .din.logo-h-90px .logo img {height: 90px;width: auto;}


/* //면편집 레이아웃 */

/* header /////////////////////////////////////////////////////*/
header .login {display: flex;justify-content: flex-end;align-items: baseline;color: #888;}
header .login i {margin-right: 5px;}
header {width: 100%;margin: 0 auto;background-color: #FFF;}
header .din.din3-111, header .din.din2-11{position: relative;margin: 0 auto;height: 145px;width: 100%;max-width: 1200px;min-width: 1200px;padding: 30px 0 15px;/*display: flex;align-items: flex-end;justify-content: space-between;*/}
header .din.din3-111 div[data-dinnum="1"],header .din.din3-111 div[data-dinnum="3"] {display:flex;width:300px !important;align-items: center;}
header .logo {display: flex;align-items: flex-end;}
/* header .logo img {width: auto;height: 70px;} */
header .sns-link {display: flex;align-items: center;padding-bottom: 20px;}
header .sns-link li {margin-right: 5px;}
header .sns-link li:last-child {margin-right: 0;}
header .sns-link li img {width: 35px;}
header .date {display: inline-block;position: absolute;top: 3px;font-size: 15px;color: #888;}
header .din > div[data-dinnum="1"] .date {left: calc((100% - 1200px) / 2);right: unset;}
header .din > div[data-dinnum="3"] .date {right: calc((100% - 1200px) /2);left: unset;}

header .din .box.banner {padding-bottom: 0px;}
header .din.banner-flex-end > div[data-dinnum] {display:inline-flex;align-items:flex-end;align-content: flex-end;}
header .din.banner-flex-end > div[data-dinnum] .box.banner {width:fit-content;height:fit-content;}
header .din.banner-flex-end > div[data-dinnum="1"] {justify-content: flex-start;}
header .din.banner-flex-end > div[data-dinnum="3"] {justify-content: flex-end;}
header .din.banner-flex-end > div[data-dinnum="3"] .login {position:absolute;top:5px;right:0px;}
header .din {display: flex;justify-content: space-between;}
header .din > div[data-dinnum="1"] {display: flex;}
header .din > div[data-dinnum="2"] {display: flex;align-items: flex-end;}
header .din > div[data-dinnum="1"] .logo {justify-content: flex-start;}
header .din > div[data-dinnum="2"] .logo {justify-content: center;align-self: center;margin: 0 auto;}

/* header.header-fixed */
header.header-fixed {position: fixed;top: 0;z-index: 999;box-shadow: 0 0 10px #777;}
header.header-fixed .din.din3-111{display:none;}
header.header-fixed .logo {padding-bottom: 5px;}
header.header-fixed .logo img {width: auto;height: auto;}
header.header-fixed .nav.abs {bottom: 10px;}
header.header-fixed .search-cont.abs {top: 10px;}
header.header-fixed .sns-link.abs {top: 10px;}
header.header-fixed .din > div[data-dinnum="3"] .date {display: none;}
header.header-fixed .box.banner {padding-bottom: 0;}

/* .nav */
header .nav {background-color: #000;width:100%;display:flex;align-items: center;padding: 0 calc((100% - 1200px) / 2);}
header .nav .nav-menu {display: flex;align-items: center;padding: 8px 0;}
header .nav .nav-menu li {padding: 0 20px;}
header .nav .nav-menu li:first-child {padding-left: 30px;}
header .nav .nav-menu li a {color: #FFF;font-size: 1.25em;line-height: 1.1;white-space: nowrap;}
header .nav #btn-bar {display: inline-block;width: 30px;height: 25px;background:url(../../img/icon/bar-w.png) no-repeat center;background-size: 100% auto;}
header .nav.bg-white {background-color: #FFF;border-bottom: 1px solid #ddd;padding-top: 2px;padding-bottom: 2px;}
header .nav.bg-white .nav-menu li a {color: #222;}
header .nav.bg-white #btn-bar {background-image: url(../../img/icon/bar-b.png);}
header .nav.bg-navy {background-color: #12334c;}
header .nav.bg-navy .nav-menu li a {color: #FFF;}
header .nav.bg-navy #btn-bar {background-image: url(../../img/icon/bar-w.png);}

/* header .nav-2tiers-type 2022/10/26 추가*/
.nav-2tiers-type {position: relative;width: 100%;min-width: 1000px;}
.nav-2tiers-type .nav-tier1-cont {position: relative;width: 100%;height: 30px;padding: 0 calc((100% - 1200px) / 2);display: flex;justify-content: space-between;align-items: center;}
.nav-2tiers-type .nav-tier1-cont .nav-top-menu {display: flex;}
.nav-2tiers-type .nav-tier1-cont .nav-top-menu li {font-size: 11px;padding: 0 7px;}
.nav-2tiers-type .nav-tier1-cont .nav-top-menu li.date {position: relative;top: unset;right: unset;left:unset;padding-left: 0;}
.nav-2tiers-type .nav-tier1-cont.bg-dark-navy .nav-top-menu li.date {color: #f3e0a5;}
.nav-2tiers-type .nav-tier1-cont.bg-dark-navy .nav-top-menu li a {color: #f3e0a5;}
.nav-2tiers-type .nav-tier1-cont .sns-link {padding: unset;}
.nav-2tiers-type .nav-tier1-cont .sns-link li {margin-right:7px;}
.nav-2tiers-type .nav-tier1-cont .sns-link img {width: 23px;}

.nav-2tiers-type .nav-tier2-cont {position: relative;width: 100%;height: 50px;padding: 0 calc((100% - 1200px) / 2);}
.nav-2tiers-type .nav-tier2-cont .nav-menu {width: fit-content;height: 100%;display: flex;align-items: center;}
.nav-2tiers-type .nav-tier2-cont .nav-menu li {padding: 0 17px;}
.nav-2tiers-type .nav-tier2-cont .nav-menu li:first-child {padding-left: 0;}
.nav-2tiers-type .nav-tier2-cont .nav-menu li a {color: #FFF;font-size: 16px;letter-spacing: 0;}
.nav-2tiers-type .nav-tier2-cont .search-cont {top:6px}
.nav-2tiers-type .nav-tier2-cont .search-cont input {width: 230px;height: 36px;border: 0;border-radius: 0;}
.nav-2tiers-type .nav-tier2-cont .btn-search {top: 0;right: 0;width: 36px;height: 36px;background-position: center;background-size: 27px 27px;}

/* .search-cont */
header .search-cont {display: inline-block;position: absolute;right: calc((100% - 1200px) / 2);}
header .search-cont input {transition: width 0.3s ease-in-out;width: 80px;font-size: 17px;padding: 6px 35px 6px 10px;border-radius: 20px;border: 1px solid #bbb;}
header .search-cont input.open {width:200px}
header .search-cont .btn-search {position: absolute;right: 10px;top: 6px;width: 20px;height: 20px;display: inline-block;background: url(../../img/icon/glass_b.png) no-repeat center;background-size: 100% auto;}


/* 로고 옆 GNB */
header .din3-111 .sns-link.abs {position: absolute;top:33px;right: 510px;display: flex;justify-content: flex-end;align-items: center;padding-bottom: 0;}
header .din2-11 .sns-link.abs {position: absolute;top:33px;right: 210px;display: flex;justify-content: flex-end;align-items: center;padding-bottom: 0;}
header .sns-link.abs li {margin-right: 0;margin-left: 5px;}
header .sns-link.abs li:first-child {margin-left: 0;}
header .sns-link.abs li img {width: 30px;}


header .din3-111 .nav.abs {width: fit-content;z-index: 10;position: absolute;bottom: 15px;right: 330px;display: inline-flex;align-items: flex-end;border: none;padding: 0;}
header .din2-11 .nav.abs {width: fit-content;z-index: 10;position: absolute;bottom: 15px;right: 0px;display: inline-flex;align-items: flex-end;border: none;padding: 0;}
header .nav.abs .nav-menu {padding: 0;}
header .nav.abs #btn-bar {width: 22px;height: 22px;margin-left: 10px;}
header .nav.abs li {padding: 0 10px;}
/* header .top nav.abs li:hover {font-size: 1.2em;} */
header .nav.abs li:first-child {padding-left: 10px;}
header .nav.abs li a {font-size: 1.3em;font-weight: bold;}
header .din3-111 .search-cont.abs {display: inline-block;top:30px;right: 330px;z-index: 10;}
header .din2-11 .search-cont.abs {display: inline-block;top:30px;right:0px;z-index: 10;}
header .search-cont.abs input {width: 160px;font-size: 18px;padding: 6px 35px 6px 10px;border-radius: 20px;border: 1px solid #bbb;}



.login {display: flex;align-items: center;}
.login span {margin: 0 5px;}
.login a {color: #777;}
header .din3-111 div[data-dinnum="3"] .login {position: absolute;right:0;}


/*///////////////////////////////////////////////////// header */

/* #side-menu */
#side-menu.left {box-shadow: 2px 0 5px 2px #0002;z-index: 999;position: fixed;top: 0;left: -340px;display: block;background-color: rgb(241, 241, 241);width: 335px;height: 100%;}
#side-menu.right {box-shadow: 2px 0 5px 2px #0002;z-index: 999;position: fixed;top: 0;right: -340px;display: block;background-color: rgb(241, 241, 241);width: 335px;height: 100%;}
header.header-fixed #side-menu.right {top: 120px;} 
header.header-fixed #side-menu.left {top: 44px;} 
#side-menu .close-cont {width: 100%;padding: 30px 20px 0;display: flex;justify-content: flex-end;align-items: center;}
#side-menu .close-cont .btn-close {opacity: 0.8;;width: 18px;height: 18px;}
#side-menu .close-cont .btn-close img {width: 100%;height: auto;}
#side-menu .menu {width: 100%;padding: 10px 30px 0px 60px;overflow-y: auto;height: inherit;}
#side-menu .menu::-webkit-scrollbar {width: 6px;height: 100%;}
#side-menu .menu::-webkit-scrollbar-thumb {background-color: #888;;border-radius: 10px;}
#side-menu .menu::-webkit-scrollbar-track {background-color: #0000;}
#side-menu .menu .cont {margin-bottom: 30px;}
/* #side-menu .menu .cont:last-child {margin-bottom: 0;} */
#side-menu .main-menu {display: flex;align-items: center;justify-content: space-between;font-size: 20px;line-height: 1.2;height: 40px;width:100%;}
#side-menu .main-menu.on a {color: #e30000;}
#side-menu .main-menu .btn-drop {height: 20px;width: 50px;background: url(../../img/icon/arrow-down-r.png) no-repeat center;background-size: 16px auto;}
#side-menu .main-menu.on .btn-drop {transform: rotate(180deg);transition: 0.2s ease-in-out;}
#side-menu .main-menu + .sub-menu {padding-left: 5px;display: none;}
#side-menu .main-menu.on + .sub-menu {display: block;}
#side-menu .sub-menu li {margin-top: 10px;}
#side-menu .sub-menu li a {line-height: 1.2;font-size: 18px;}
#side-menu .sub-menu li a:hover {color: #e30000;}

/* 면편집 헤더 top180px클래스 추가시 사이드메뉴 위치 조정 20221103 추가 */
.top180px #side-menu {top: 182px;}
header.header-fixed .top180px #side-menu {top: 158px;}


/* main */
main {width: 100%;margin: 0 auto;padding: 30px 0;}


/* footer */
footer {width: 100%;margin: 0 auto;white-space: nowrap;min-width: 1000px;}
footer .site-map {width: 100%;margin: 0 auto;padding: 20px calc((100% - 1200px) / 2);display: flex;justify-content: space-between;border-top: 1px solid #ccc;}
footer .site-map > div:first-child {padding-left: 0;}
footer .site-map > div:last-child {padding-right: 0;}
footer .site-map .main-cat {display: block;font-size: 18px;font-weight: bold;color: #444;margin-bottom: 10px;}
footer .site-map .menu li a {color: #666;font-size: 17px;font-weight: normal;line-height: 1.7;}

footer .info-cont {width: 100%;margin: 0 auto;padding: 30px calc((100% - 1200px) / 2);border-top: 1px solid #ddd;display: flex;justify-content: space-between;align-items: center;}
footer .info-cont .logo {display: inline-block;width: 255px;}
footer .info-cont .logo img {width: 100%;height: auto;}
footer .info-cont .right {width: calc(100% - 330px);}
footer .info-cont .right .link-wrap {display: flex;margin-bottom: 20px;}
footer .info-cont .right .link-wrap li {margin-right: 20px;}
footer .info-cont .right .link-wrap li:last-child {margin-right: 0;}
footer .info-cont .right .link-wrap li a {font-size: 1.2em;letter-spacing: -0.4px;}
footer .info-cont .right .info {}
footer .info-cont .right .info ul {display: flex;flex-wrap: wrap;}
footer .info-cont .right .info li {margin-right: 20px;}
footer .info-cont .right .info li, footer .right .info .text {font-size: 14px;color: #777;line-height: 1.4;font-weight: normal;}

/* .info-cont.bg-dark-navy 2022/10/27 추가 */
footer .info-cont.bg-dark-navy .link-wrap li a {color: #ddd;}
footer .info-cont.bg-dark-navy .info li, footer .info-cont.bg-dark-navy .info .text {color: #aaa;}
/* .logo-top 2022/10/27 추가 */
footer .info-cont.logo-top {align-items: flex-start;}



/* footer-tpl-1 2022/11/03 추가 */
footer .footer-tpl-1 {width: 100%;}
footer .footer-tpl-1 .tier1 {padding: 30px calc((100% - 1180px) / 2);display: flex;align-items: center;background-color: #f1f1f1;}
footer .footer-tpl-1 .tier1 .logo {width: 200px;}
footer .footer-tpl-1 .tier1 .logo img {height: auto;width: 100%;}
footer .footer-tpl-1 .tier1 .cont {margin-left: 50px;}
footer .footer-tpl-1 .tier1 .link {display: flex;flex-wrap: wrap;word-break: keep-all;margin-bottom: 5px;}
footer .footer-tpl-1 .tier1 .link li {}
footer .footer-tpl-1 .tier1 .link li:not(:first-child)::before {content: '｜';color: #272727;font-size: 13px;}
footer .footer-tpl-1 .tier1 .link li a {color: #272727;letter-spacing: -0.1px;font-size: 13px;font-weight: normal;}
footer .footer-tpl-1 .tier1 .info {display: flex;flex-wrap: wrap;word-break: keep-all;color: #272727;}
footer .footer-tpl-1 .tier1 .info dl {display: flex;letter-spacing: -0.1px;font-size: 13px;font-weight: normal;margin-right: 6px;}
footer .footer-tpl-1 .tier1 .info dl:not(:last-child)::after {content: ',';}
footer .footer-tpl-1 .tier1 .info dl dt + dd {margin-left: 4px;}
footer .footer-tpl-1 .tier2 {padding: 20px calc((100% - 1180px) / 2);
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dddddd+1,e0e0e0+5,e3e3e3+8,e5e5e5+13,e8e8e8+18,eaeaea+22,ededed+24,efefef+28,f0f0f0+35,f1f1f1+40,f1f1f1+44,f1f1f1+46,f1f1f1+79,f1f1f1+97 */
background: #dddddd; /* Old browsers */
background: -moz-linear-gradient(top,  #dddddd 1%, #e0e0e0 5%, #e3e3e3 8%, #e5e5e5 13%, #e8e8e8 18%, #eaeaea 22%, #ededed 24%, #efefef 28%, #f0f0f0 35%, #f1f1f1 40%, #f1f1f1 44%, #f1f1f1 46%, #f1f1f1 79%, #f1f1f1 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #dddddd 1%,#e0e0e0 5%,#e3e3e3 8%,#e5e5e5 13%,#e8e8e8 18%,#eaeaea 22%,#ededed 24%,#efefef 28%,#f0f0f0 35%,#f1f1f1 40%,#f1f1f1 44%,#f1f1f1 46%,#f1f1f1 79%,#f1f1f1 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #dddddd 1%,#e0e0e0 5%,#e3e3e3 8%,#e5e5e5 13%,#e8e8e8 18%,#eaeaea 22%,#ededed 24%,#efefef 28%,#f0f0f0 35%,#f1f1f1 40%,#f1f1f1 44%,#f1f1f1 46%,#f1f1f1 79%,#f1f1f1 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}
footer .footer-tpl-1 .tier2 .copyright {font-size: 13px;color: #272727;}


/* footer-tpl-2 2022/11/03 추가 */
footer .footer-tpl-2 {width: 100%;}
footer .footer-tpl-2 .tier1 {padding: 30px calc((100% - 1180px) / 2);display: flex;align-items: center;background-color: #434343;}
footer .footer-tpl-2 .tier1 .logo {width: 200px;}
footer .footer-tpl-2 .tier1 .logo img {height: auto;width: 100%;}
footer .footer-tpl-2 .tier1 .cont {margin-left: 50px;}
footer .footer-tpl-2 .tier1 .link {display: flex;flex-wrap: wrap;word-break: keep-all;margin-bottom: 5px;}
footer .footer-tpl-2 .tier1 .link li {}
footer .footer-tpl-2 .tier1 .link li:not(:first-child)::before {content: '｜';color: #aaa;font-size: 13px;}
footer .footer-tpl-2 .tier1 .link li a {color: #aaa;letter-spacing: -0.1px;font-size: 13px;font-weight: normal;}
footer .footer-tpl-2 .tier1 .info {display: flex;flex-wrap: wrap;word-break: keep-all;color: #aaa;}
footer .footer-tpl-2 .tier1 .info dl {display: flex;letter-spacing: -0.1px;font-size: 13px;font-weight: normal;margin-right: 6px;}
footer .footer-tpl-2 .tier1 .info dl:not(:last-child)::after {content: ',';}
footer .footer-tpl-2 .tier1 .info dl dt + dd {margin-left: 4px;}
footer .footer-tpl-2 .tier2 {padding: 20px calc((100% - 1180px) / 2);
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#353535+0,424242+21,424242+38,3f3f3f+47,3f3f3f+64,3f3f3f+81,353535+100 */
background: #353535; /* Old browsers */
background: -moz-linear-gradient(top,  #353535 0%, #424242 21%, #424242 38%, #3f3f3f 47%, #3f3f3f 64%, #3f3f3f 81%, #353535 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #353535 0%,#424242 21%,#424242 38%,#3f3f3f 47%,#3f3f3f 64%,#3f3f3f 81%,#353535 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #353535 0%,#424242 21%,#424242 38%,#3f3f3f 47%,#3f3f3f 64%,#3f3f3f 81%,#353535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#353535',GradientType=0 ); /* IE6-9 */
}
footer .footer-tpl-2 .tier2 .copyright {font-size: 13px;color: #aaa;}


/* footer-tpl-3 2022/11/03 추가 */
footer .footer-tpl-3 {width: 100%;}
footer .footer-tpl-3 .tier1 {padding: 20px calc((100% - 1180px) / 2);display: flex;justify-content: space-between;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dddddd+1,e0e0e0+5,e3e3e3+8,e5e5e5+13,e8e8e8+18,eaeaea+22,ededed+24,efefef+28,f0f0f0+35,f1f1f1+40,f1f1f1+44,f1f1f1+46,f1f1f1+79,f1f1f1+97 */
background: #dddddd; /* Old browsers */
background: -moz-linear-gradient(bottom,  #dddddd 1%, #e0e0e0 5%, #e3e3e3 8%, #e5e5e5 13%, #e8e8e8 18%, #eaeaea 22%, #ededed 24%, #efefef 28%, #f0f0f0 35%, #f1f1f1 40%, #f1f1f1 44%, #f1f1f1 46%, #f1f1f1 79%, #f1f1f1 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(bottom,  #dddddd 1%,#e0e0e0 5%,#e3e3e3 8%,#e5e5e5 13%,#e8e8e8 18%,#eaeaea 22%,#ededed 24%,#efefef 28%,#f0f0f0 35%,#f1f1f1 40%,#f1f1f1 44%,#f1f1f1 46%,#f1f1f1 79%,#f1f1f1 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to top,  #dddddd 1%,#e0e0e0 5%,#e3e3e3 8%,#e5e5e5 13%,#e8e8e8 18%,#eaeaea 22%,#ededed 24%,#efefef 28%,#f0f0f0 35%,#f1f1f1 40%,#f1f1f1 44%,#f1f1f1 46%,#f1f1f1 79%,#f1f1f1 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}
footer .footer-tpl-3 .tier1 .flex-cont {display: flex;align-items: flex-start;}
footer .footer-tpl-3 .tier1 .text-cont {display: flex;flex-direction: column;justify-content: flex-start;flex-wrap: wrap;width: 260px;height: 36px;}
footer .footer-tpl-3 .tier1 .text-cont .title {font-size: 22px;font-weight: bold;line-height: 1.1;margin-right: 3px;}
footer .footer-tpl-3 .tier1 .text-cont .desc {font-size: 12px;color: #444;line-height: 1.1;}
footer .footer-tpl-3 .tier1 .text-cont .notice {font-size: 10px;color: #aaa;line-height: 1.1;margin-top: 3px;}
footer .footer-tpl-3 .input-cont {margin-left: 30px;display: flex;align-items: center;}
footer .footer-tpl-3 .input-cont input {height: 28px;border:1px solid #e7e7e7;font-size: 14px;padding: 0 15px;margin-right: 5px;}
footer .footer-tpl-3 .input-cont input::placeholder {font-size: 12px;}
footer .footer-tpl-3 .input-cont button {font-size: 12px;color: #FFF;background-color: #00347a;height: 27px;padding: 0 12px;line-height: 1.1;border-radius: 3px;box-shadow: 2px 2px 5px 1px #0004;}
footer .footer-tpl-3 .tier1 .link {display: flex;}
footer .footer-tpl-3 .tier1 .link li {}
footer .footer-tpl-3 .tier1 .link li:not(:first-child)::before {content: '｜';color: #777;font-size: 13px;}
footer .footer-tpl-3 .tier1 .link li a {color: #777;letter-spacing: -0.1px;font-size: 13px;font-weight: normal;}
footer .footer-tpl-3 .tier2 {padding: 50px calc((100% - 1180px) / 2);display: flex;justify-content: space-between;background-color: #f1f1f1;}
footer .footer-tpl-3 .tier2 .cont {width: 50%;}
footer .footer-tpl-3 .tier2 .copyright {font-size: 13px;color: #272727;margin-bottom: 5px;}
footer .footer-tpl-3 .tier2 .link {display: flex;flex-wrap: wrap;word-break: keep-all;max-width: 400px;width: 400px;}
footer .footer-tpl-3 .tier2 .link li {}
footer .footer-tpl-3 .tier2 .link li:not(:first-child)::before {content: '｜';color: #888;font-size: 13px;}
footer .footer-tpl-3 .tier2 .link li a {color: #888;letter-spacing: -0.1px;font-size: 13px;font-weight: normal;}
footer .footer-tpl-3 .tier2 .logo {height: 30px;margin-bottom: 10px;max-width: 250px;}
footer .footer-tpl-3 .tier2 .logo img {height: 100%;width: auto;}
footer .footer-tpl-3 .tier2 .info {display: flex;flex-wrap: wrap;word-break: keep-all;color: #888;max-width: 500px;width: 500px;}
footer .footer-tpl-3 .tier2 .info li {display: flex;letter-spacing: -0.1px;font-size: 13px;font-weight: normal;}
footer .footer-tpl-3 .tier2 .info li:not(:first-child)::before {content: '｜';}


/* footer-tpl-4 2022/11/03 추가 */
footer .footer-tpl-4 {width: 100%;background-color: #272727;}
footer .footer-tpl-4 .tier1 {width: 100%;padding: 40px calc((100% - 1200px) / 2);border-top: 1px solid #FFF3;}
footer .footer-tpl-4 .tier1 .menu-cont {display: flex;flex-wrap: wrap;}
footer .footer-tpl-4 .tier1 .menu-cont .section {width: calc(100% / 5);padding-right: 20px;}
footer .footer-tpl-4 .tier1 .menu-cont .section:nth-child(n+6) {margin-top: 40px;}
footer .footer-tpl-4 .tier1 .menu-cont .title {font-size: 16px;font-weight: bold;color: #f9f9f9;line-height: 1.1;}
footer .footer-tpl-4 .tier1 .menu-cont .section ul {margin-top: 15px;width: 100%;}
footer .footer-tpl-4 .tier1 .menu-cont .section ul li {width: 100%;white-space: wrap;height: fit-content;}
footer .footer-tpl-4 .tier1 .menu-cont .section ul li:not(:first-of-type) {margin-top: 5px;}
footer .footer-tpl-4 .tier1 .menu-cont .section ul li a {color: #f9f9f9;font-weight: normal;font-size: 15px;line-height: 1.1;width: 100%;word-wrap: break-word;word-break: keep-all;white-space: pre-line;}
footer .footer-tpl-4 .tier2 {width: 100%;padding: 12px calc((100% - 1200px) / 2);border-top: 1px solid #FFF3;display: flex;justify-content: space-between;}
footer .footer-tpl-4 .tier2 .link {display: flex;flex-wrap: wrap;word-break: keep-all;width: 950px;}
footer .footer-tpl-4 .tier2 .link li {margin-right: 45px;height: 43px;display: flex;align-items: center;}
footer .footer-tpl-4 .tier2 .link li a {color: #f9f9f9;font-size: 14px;line-height: 1.2;font-weight: normal;}
footer .footer-tpl-4 .tier2 .social-link {display: flex;width: fit-content;}
footer .footer-tpl-4 .tier2 .social-link li:not(:last-child) {margin-right: 10px;}
footer .footer-tpl-4 .tier2 .social-link img {height: 43px;border-radius: 5px;}
footer .footer-tpl-4 .tier3 {width: 100%;padding: 40px calc((100% - 1200px) / 2);border-top: 1px solid #FFF3;display: flex;}
footer .footer-tpl-4 .tier3 .logo {width: 250px;max-width: 250px;}
footer .footer-tpl-4 .tier3 .logo img {width: 100%;height: auto;}
footer .footer-tpl-4 .tier3 .cont {padding-left: 60px;width: calc(100% - 250px);}
footer .footer-tpl-4 .tier3 .link {display: flex;flex-wrap: wrap;word-break: keep-all;margin-bottom: 10px;}
footer .footer-tpl-4 .tier3 .link li {}
footer .footer-tpl-4 .tier3 .link li:not(:first-child)::before {content: '｜';color: #f9f9f9;font-size: 13px;}
footer .footer-tpl-4 .tier3 .link li a {color: #f9f9f9;letter-spacing: -0.1px;font-size: 14px;font-weight: normal;line-height: 1.1;}
footer .footer-tpl-4 .tier3 .info {display: flex;flex-wrap: wrap;word-break: keep-all;color: #f9f9f9;}
footer .footer-tpl-4 .tier3 .info li {display: flex;letter-spacing: -0.1px;font-size: 14px;font-weight: normal;line-height: 1.5;}
footer .footer-tpl-4 .tier3 .info li:not(:first-child)::before {content: '｜';}
footer .footer-tpl-4 .tier3 .flex-cont {display: flex;align-items: flex-end;justify-content: space-between;margin-top: 25px;}
footer .footer-tpl-4 .tier3 .copyright {font-size: 14px;color: #f9f9f9;line-height: 1.2;}
footer .footer-tpl-4 .tier3 .select-cont {display: flex;}
footer .footer-tpl-4 .tier3 .select {width: 200px;margin-right: 10px;position: relative;color: #fff;font-size: 17px;height: 40px;padding: 0 14px;display: flex;align-items: center;
    border: 0;outline: none;
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
    background:#555 url('../../img/icon/arrow_up_w.png') no-repeat 160px center ;
}
footer .footer-tpl-4 .tier3 .select:last-child {margin-right: 0px;}


/* footer-tpl-5 2022/11/03 추가 */
footer .footer-tpl-5 {width: 100%;}
footer .footer-tpl-5 .tier1 {width: 100%;padding: 40px calc((100% - 1200px) / 2);border-top: 1px solid #bbb;}
footer .footer-tpl-5 .tier1 .menu-cont {display: flex;flex-wrap: wrap;}
footer .footer-tpl-5 .tier1 .menu-cont .section {width: calc(100% / 7);padding-right: 10px;}
footer .footer-tpl-5 .tier1 .menu-cont .section:nth-child(n+8) {margin-top: 40px;}
footer .footer-tpl-5 .tier1 .menu-cont .title {font-size: 16px;font-weight: bold;color: #222;line-height: 1.1;}
footer .footer-tpl-5 .tier1 .menu-cont .section ul {margin-top: 15px;width: 100%;}
footer .footer-tpl-5 .tier1 .menu-cont .section ul li {width: 100%;white-space: wrap;height: fit-content;}
footer .footer-tpl-5 .tier1 .menu-cont .section ul li:not(:first-of-type) {margin-top: 5px;}
footer .footer-tpl-5 .tier1 .menu-cont .section ul li a {color: #222;font-weight: normal;font-size: 15px;line-height: 1.1;width: 100%;word-wrap: break-word;word-break: keep-all;white-space: pre-line;}
footer .footer-tpl-5 .tier2 {width: 100%;padding: 30px calc((100% - 1200px) / 2);border-top: 1px solid #bbb;display: flex;}
footer .footer-tpl-5 .tier2 .logo {width: 250px;max-width: 250px;}
footer .footer-tpl-5 .tier2 .logo img {width: 100%;height: auto;}
footer .footer-tpl-5 .tier2 .cont {width: calc(100% - 250px);padding-left: 60px;}
footer .footer-tpl-5 .tier2 .info {display: flex;flex-wrap: wrap;word-break: keep-all;color: #666;}
footer .footer-tpl-5 .tier2 .info li {display: flex;letter-spacing: -0.1px;font-size: 14px;font-weight: normal;line-height: 1.5;}
footer .footer-tpl-5 .tier2 .info li:not(:first-child)::before {content: '｜';}
footer .footer-tpl-5 .tier2 .copyright {font-size: 14px;color: #999;margin-top: 7px;line-height: 1.1;}
footer .footer-tpl-5 .tier3 {width: 100%;padding: 20px calc((100% - 1200px) / 2);border-top: 1px solid #bbb;display: flex;justify-content: space-between;}
footer .footer-tpl-5 .tier3 .link {display: flex;flex-wrap: wrap;word-break: keep-all;color: #666;width: 70%;}
footer .footer-tpl-5 .tier3 .link li {display: flex;height: 25px;}
footer .footer-tpl-5 .tier3 .link li:not(:first-child) a::before {content: '｜';}
footer .footer-tpl-5 .tier3 .link li a {letter-spacing: -0.1px;font-size: 14px;font-weight: normal;line-height: 1.1;color: #666;display: flex;align-self: center;}
footer .footer-tpl-5 .tier3 .social-link {display: flex;}
footer .footer-tpl-5 .tier3 .social-link li {margin-left: 10px;}
footer .footer-tpl-5 .tier3 .social-link img {height: 43px;}






/* 한국언론정보기술협회 회원사 링크 */
.kpf-link-cont {display: flex;flex-wrap: wrap;padding: 20px calc((100% - 1200px) / 2);}
.kpf-link-cont li {}
.kpf-link-cont li:not(:last-child)::after {content: '|';position: relative;display: inline-block;margin: 0 5px;}
.kpf-link-cont li a {font-size: 14px;color: #666;}

/* 이벤트 페이지 ///////////////////////////////////////////////////////////////////////////////////*/
body.event {}
/* .event header {border-bottom: 5px solid #222;} */
.event main {max-width: 1200px;margin: 0 auto;}
/*/////////////////////////////////////////////////////////////////////////////////// 이벤트 페이지 */

.box.banner img{max-width : 100%;}

/* popup */
.popup {min-width: 250px;display: flex;flex-direction: column;}
.popup.layer {position: fixed;z-index: 1000;border: 1px solid #000000;background-color: #ffffff;}
.popup .popup_content {width: 100%;height: calc(100% - 30px);overflow: auto;}
.popup img {max-width: 100%;}
.popup .popup_footer {height: 30px;line-height: 30px;padding-left: 10px;}
.popup .popup_footer button {background-color: #000000;color: #ffffff;float: right;height: 30px;padding: 3px;cursor: pointer;}

/* p tag 마진조정*/
.content p {margin-bottom: 20px;}

.h114 img{height:114px !important;}

[class*="background-color-"] {width: 100% !important;display: flex;justify-content: center;padding-top: 20px;margin-bottom: 20px;}
[class*="background-color-"] > div[data-dinnum] {width: 1200px !important;}
.background-color-green{background-color: #d5e1bb;}

figure {margin-top:20px;margin-bottom:0; display: inline-table;}
figure figcaption {padding: 5px;line-height: 1.5em;font-size: 11pt;color: #8191af;display: table-caption;caption-side: bottom;}
figure figcaption:empty{display:none;}
blockquote{margin: 0 0 0; padding: 10px;border: 2px solid #e5e5e5;}
.align-left{float: left;margin-left:0;margin-right:20px;}
.align-right{float: right;margin-right:0;margin-left:20px;}
.align-center{display: table;margin-left: auto;margin-right: auto;}

main>.din.border-center-1>div[data-dinnum="1"] {border-right: 1px solid #ddd;}
.border-top-1{border-top: 1px solid #ddd;padding-top: 30px;}
.border-top-1>div[data-dinnum="1"] {border-right: 1px solid #ddd;}
div[data-objId="DIN_1685164754515"]>[data-dinnum="1"],div[data-objId="DIN_1685164377437"]>[data-dinnum="1"] {border-right: 1px solid #ddd;}