<?xml version='1.0' encoding='utf-8' ?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:news="http://www.google.com/schemas/sitemap-news/0.9">
{@result.items}
<url>
	<loc><![CDATA[{company.domain.pc}/article/view/{.aid}]]></loc>
	<news:news>
	  <news:publication>
		<news:name><![CDATA[{company.name}]]></news:name>
		<news:language>ko</news:language>
	  </news:publication>
	  <news:genres>UserGenerated</news:genres>
	  <news:publication_date>{=substr(.firstPublishDate,0,10)}</news:publication_date>
	  <news:title><![CDATA[{=htmlentities(.title)}]]></news:title>
	</news:news>
</url>
{/}
</urlset>