<!-- 페이지네비게이션 -->
<div class="page">
    <div class="inner">
        <!--a class="" href="{_GET._url}?{=preg_replace('/([&]?page=[0-9]+)|(_url=[^&]+&)/i','', _SERVER.QUERY_STRING)}&page={result.page.firstPage}"><i class="fas fa-angle-double-left" aria-hidden="true"></i></a-->
        {? result.page.prevPage}
        <a class="" href="{_GET._url}?{=preg_replace('/([&]?page=[0-9]+)|(_url=[^&]+&)/i','', _SERVER.QUERY_STRING)}&page={result.page.prevPage}"><i class="fas fa-angle-left" aria-hidden="true"></i></a>
        {/}
        {@ result.page.navibar}
        <a class="no {.class}" href="{_GET._url}?{=preg_replace('/([&]?page=[0-9]+)|(_url=[^&]+&)/i','', _SERVER.QUERY_STRING)}&page={.page}">{.page}</a>
        {/}
        {? result.page.nextPage}
        <a class="" href="{_GET._url}?{=preg_replace('/([&]?page=[0-9]+)|(_url=[^&]+&)/i','', _SERVER.QUERY_STRING)}&page={result.page.nextPage}"><i class="fas fa-angle-right" aria-hidden="true"></i></a>
        {/}
        <!--a class="" href="{_GET._url}?{=preg_replace('/([&]?page=[0-9]+)|(_url=[^&]+&)/i','', _SERVER.QUERY_STRING)}&page={result.page.lastPage}"><i class="fas fa-angle-double-right" aria-hidden="true"></i></a-->
    </div>
</div>