<!-- 팝업 -->
<script type="text/javascript">
    function layerClose(obj){
        var $obj = $(obj).closest('.popup_footer').find('#popupCheck');
        if($obj.is(':checked')){
            $.cookie($obj.val(), '1', {expires: 1, path: '/'});
        }
        $obj.closest('.popup').remove();
    }

    $(document).ready(function(){
    {@ result.popup}
        if(!$.cookie('{.id}')){
            var html = '';
            html += '<div class="popup layer" style="top: 100px;left: 10px;width: {? !empty(.files[0].width) &&.files[0].width > 300}{.files[0].width}{: !empty(.sizeX)}{.sizeX}{:}300{/}px;height: auto;max-width: calc(100% - 20px);">';
            html += ' <div class="popup_content">';
            {? !empty(.content)} html += '{.content}';
            {: !empty(.files[0].path)}
                {? !empty(.link)} html += ' <a href="{.link}" target="_blank">'; {/}
                html += '  <img src="{.files[0].path}">';
                {? !empty(.link)} html += ' </a>'; {/}
            {/}
            html += ' </div>';
            html += ' <div class="popup_footer">';
            html += '   24시간 동안 팝업을 열지 않습니다.';
            html += '   <input type="checkbox" name="popupCheck" id="popupCheck" value="{.id}">';
            html += '   <button onclick="layerClose(this);">닫기</button>';
            html += ' </div>';
            html += '</div>';
            console.log(html);
          $('body').append(html);
        }
    {/}
    });
</script>
<!-- //팝업 -->