{? !empty(result.program)}
<nav class="program">
    <a class="{? result.id == result.program.id}active{/}" href="/program/home/{result.program.id}">소개</a>
    {@ result.program.board}
    <a class="{? result.id == .info[0].id}active{/}" href="/board/list/{.info[0].id}">{.info[0].name}</a>
    {/}
    {? !empty(result.program.youtube.link) && !empty(result.program.youtube.name)}
    <a href="{result.program.youtube.link}" target="_blank">{result.program.youtube.name}</a>
    {/}
    {? !empty(result.program.apply.link) && !empty(result.program.apply.name)}
    <a href="{result.program.apply.link}" target="_blank">{result.program.apply.name}</a>
    {/}
</nav>
{/}