<!-- Article Setup Modal -->
<div id="articleModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
		<div class="modal-content wd-900 bd-0 tx-14">
			<div class="modal-header pd-y-20 pd-x-25">
				<h6 class="tx-14 mg-b-0 tx-inverse tx-bold">Component Title</h6>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pd-25">
				<div class='boxTool' data-input-type="article">
					<input type="hidden" id="objId">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon3">제목</span>
						<input type="text" class="form-control boxTitle pd-20" id="title" placeholder="화면에 표출될 박스 명입니다." />
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon3">제목링크</span>
						<input type="text" class="form-control boxTitle pd-20" id="moreurl" placeholder="제목링크입니다.(옵션)" />
					</div>

					<div class="input-group">
						<span class="input-group-addon" style="height: 42px;">기사선택</span>
						<span class="input-group-addon bg-white wd-75" style="height: 42px;">
							<div class="toggle-wrapper" id="listtype">
								<div class="toggle toggle-modern primary"></div>
							</div>
						</span>
						<span class="input-group-addon autoGroupTypeText" style="height: 42px;">그룹종류</span>
						<span class="input-group-prepend" style="height: 42px;">
							<select class="form-control" id="autogrouptype" style="height: 100%;">
								<option value="C">카테고리</option>
								<option value="P">프로그램</option>
								<option value="S">시리즈</option>
								<option value="T">태그</option>
								<option value="A">인기기사</option>
								{? !empty(company.this.youtube.apiKey)}
								<option value="Y">유투브</option>
								{/}
							</select>
						</span>
						<span class="input-group-addon" style="height: 42px;">수동선택<br>기사 제외</span>
						<span class="input-group-addon bg-white wd-75" style="height: 42px;">
							<div class="toggle-wrapper" id="removeheadline">
							<div class="toggle toggle-modern danger"></div>
							</div>
						</span>
						<span class="input-group-addon" style="height: 42px;">기사합치기</span>
						<span class="input-group-addon bg-white wd-75" style="height: 42px;">
							<div class="toggle-wrapper" id="articlemerge">
							<div class="toggle toggle-modern danger"></div>
							</div>
						</span>
						<span class="input-group-addon" style="height: 42px;">정렬</span>
						<span class="input-group-addon bg-white wd-75" style="height: 42px;">
							<div class="toggle-wrapper" id="articlesort">
							<div class="toggle toggle-modern danger"></div>
							</div>
						</span>
					</div>
					<div class="input-group areas categoryArea">
						<span class="input-group-addon wd-90">카테고리</span>
						<span class='input-group-prepend' >
							<select class="form-control select2" id="category" data-placeholder="카테고리 선택"  multiple="multiple" style="width:760px;">
								<option value="{_SESSION.coId}000000000">최신기사</option>
								{@ result.categoryList}
									{? .isUse && .isNews}
								<option class="level-{.depth}" value="{.id}" style='{?.depth==1}font-weight: 600;{/}'>{? .depth==2}&nbsp;&nbsp;&nbsp;&nbsp;{: .depth==3}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{/}{.name}</option>
									{/}
								{/}
							</select>
						</span>
					</div>
					<div class="input-group areas seriesArea">
						<span class="input-group-addon wd-90">시리즈</span>
						<span class='selectSeriesGroup'>
							<select class="form-control select2" data-placeholder="시리즈 선택" id="series" multiple style="width:760px;">
								{@ result.seriesList}
									{? .isUse}
								<option value="{.id}">{.name}</option>
									{/}
								{/}
							</select>
						</span>
					</div>
					<div class="input-group areas programArea">
						<span class="input-group-addon wd-90">프로그램</span>
						<span class='selectProgramGroup'>
							<select class="form-control select2" data-placeholder="프로그램 선택" id="program" multiple style="width:760px;">
								{@ result.programList}
									{? .isUse}
								<option value="{.id}">{.name}</option>
									{/}
								{/}
							</select>
						</span>
					</div>
					<div class="input-group areas analyticsArea">
						<span class="input-group-addon wd-90">카테고리</span>
						<span class='input-group-prepend' >
							<select class="form-controll select2" id="gaCategory" name="gaCategory" data-placeholder="카테고리 선택"  multiple="multiple" style="width:560px;">
								{@ result.categoryList}
									{? .isUse && .isNews}
								<option class="level-{.depth}" value="{.id}" style='{?.depth==1}font-weight: 600;{/}'>{? .depth==2}&nbsp;&nbsp;&nbsp;&nbsp;{: .depth==3}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{/}{.name}</option>
									{/}
								{/}
							</select>
						</span>
						<span class="input-group-addon wd-90">기간</span>
						<span class='input-group-prepend' >
							<select class="form-control input-sm popularTermDay select2" id="populartermday" style="width:110px;">
								<option value="7" selected>최근 7일</option>
								<option value="15">최근 15일</option>
								<option value="30">최근 30일</option>
							</select>
						</span>
					</div>
					<div class="input-group areas tagArea">
						<span class="input-group-addon wd-90">태그</span>
						<span style="width: 760px;">
							<input type="text" class="form-control pd-20" id="tags" placeholder="" data-role="tagsinput">
						</span>
					</div>
					<div class="input-group areas youtubeArea"></div>
					<div class="input-group">
						<span class="input-group-addon" style="height: 42px;">제목 [TEXT] 제거</span>
						<span class="input-group-addon bg-white wd-75" style="height: 42px;">
							<div class="toggle-wrapper" id="removesquarebrackets">
								<div class="toggle toggle-modern primary"></div>
							</div>
						</span>
						<span class="input-group-addon" style="height: 42px;">관련기사</span>
						<span class="input-group-addon bg-white" style="height: 42px;width:80px;">
							<div class="toggle-wrapper" id="useRelation">
							<div class="toggle toggle-modern danger"></div>
							</div>
						</span>
						<span class="input-group-addon" style="height: 42px;">이미지 첨부만</span>
						<span class="input-group-addon bg-white wd-75" style="height: 42px;">
							<div class="toggle-wrapper" id="onlyimage">
							<div class="toggle toggle-modern danger"></div>
							</div>
						</span>
						<span class="input-group-addon" style="height: 42px;">동영상 첨부만</span>
						<span class="input-group-addon bg-white" style="height: 42px;width:80px;">
							<div class="toggle-wrapper" id="onlyVideo">
							<div class="toggle toggle-modern danger"></div>
							</div>
						</span>
						<span class="input-group-addon" style="height: 42px;">속보</span>
						<span class="input-group-addon bg-white" style="height: 42px;width:80px;">
							<div class="toggle-wrapper" id="type_isFlash">
							<div class="toggle toggle-modern danger"></div>
							</div>
						</span>
					</div>
					<div class="input-group">
						<span class="input-group-addon showpcText" style="height: 42px;width: 94px;">PC설정</span>
						<span class="input-group-addon showpcText" style="height: 42px;">노출</span>
						<span class="input-group-addon bg-white wd-75" style="height: 42px;">
							<div class="toggle-wrapper" id="showpc">
								<div class="toggle toggle-modern primary"></div>
							</div>
						</span>
						<span class="input-group-addon" style="height: 42px;">기사갯수</span>
						<input type="text" class="form-control showArticleNum" id="showarticlenum" value="" style="height: 42px;" data-type='num'/>
						<span class="input-group-addon" style="height: 42px;">본문글자수</span>
						<input type="text" class="form-control" id="contentcutnum" value="" style="height: 42px;" data-type='num'/>
						<span class="input-group-addon" style="height: 42px;">썸네일/W/H</span>
						<span class="input-group-addon bg-white wd-75" style="height: 42px;">
							<div class="toggle-wrapper" id="showthumbpc">
								<div class="toggle toggle-modern primary"></div>
							</div>
						</span>
						<input type="text" class="form-control thumbwidthpc" id="thumbwidthpc" value="" style="height: 42px;" placeholder="가로px" />
						<input type="text" class="form-control thumbheightpc" id="thumbheightpc" value="" style="height: 42px;" placeholder="세로px" />
					</div>
					<div class="input-group">
						<span class="input-group-addon showpcText" style="height: 42px;">Mobile설정</span>
						<span class="input-group-addon showmobileText" style="height: 42px;">노출</span>
						<span class="input-group-addon bg-white wd-75" style="height: 42px;">
							<div class="toggle-wrapper" id="showmobile">
								<div class="toggle toggle-modern primary"></div>
							</div>
						</span>
						<span class="input-group-addon wd-110" style="height: 42px;">기사갯수</span>
						<input type="text" class="form-control mobileshowArticleNum" id="mobileshowarticlenum" value="" style="height: 42px;" data-type='num'/>
						<span class="input-group-addon" style="height: 42px;">본문글자수</span>
						<input type="text" class="form-control" id="contentcutnummobile" value="" style="height: 42px;" data-type='num'/>
						<span class="input-group-addon" style="height: 42px;">썸네일/W/H</span>
						<span class="input-group-addon bg-white wd-75" style="height: 42px;">
							<div class="toggle-wrapper" id="showthumbmobile">
								<div class="toggle toggle-modern primary"></div>
							</div>
						</span>
						<input type="text" class="form-control thumbwidthmobile" id="thumbwidthmobile" value="" style="height: 42px;" placeholder="가로px" />
						<input type="text" class="form-control thumbheightmobile" id="thumbheightmobile" value="" style="height: 42px;" placeholder="세로px" />
					</div>
					<div class="input-group">
						<span class="input-group-addon wd-90" style="height: 40px;">PC Skin</span>
						<span class="input-group-prepend" style="width: 335px;">
							<select class="form-control select2" id="pcSkin">
								<option value="">안보이기</option>
							</select>
						</span>
						<span class="input-group-addon wd-90" style="height: 40px;">Mobile Skin</span>
						<span class="input-group-prepend" style="width: 335px;">
							<select class="form-control select2" id="mobileSkin">
								<option value="">안보이기</option>
							</select>
						</span>
					</div>
					<div class="row">
						<div class="col-md-6 pd-0 bd">
							<img id="pcSkinPreview" style="max-width:370px;max-height:370px;" src="" onError="this.src='/img/skin/show-hidden-icons.png';">
						</div>
						<div class="col-md-6 pd-0 bd">
							<img id="mobileSkinPreview" style="max-width:370px;max-height:370px;" src="" onError="this.src='/img/skin/show-hidden-icons.png';">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"  id="btn_saveObjSetup"> 저 장 </button>
				<button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal"> 취 소 </button>
			</div>
		</div>
	</div>
</div>
<!-- //Article Setup Modal -->
