<!-- Banner Setup Modal -->
<div id="bannerModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
		<div class="modal-content wd-900 bd-0 tx-14">
			<div class="modal-header pd-y-20 pd-x-25">
				<h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Component Title</h6>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pd-25">
				<div class='boxTool' data-input-type="article">
					<input type="hidden" id="objId">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon3">위치명</span>
						<input type="text" class="form-control boxTitle pd-20" id="title" placeholder="화면에 표출될 박스 명입니다." />
					</div>
					<div class="input-group">
						<span class="input-group-addon wd-90" style="height: 40px;">배너 종류</span>
						<span class="input-group-prepend">
							<select class="form-control select2" id="bannerKind">
								<option value="one">최신1개</option>
								<option value="stack">나열</option>
								<option value="slideRight">우 슬라이드</option>
								<option value="random">랜덤</option>
							</select>
						</span>
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon3">슬라이드 시간</span>
						<input type="text" class="form-control boxTitle pd-20" id="slideTime" placeholder="슬라이드 정지시간(초)" />
					</div>
					<div class="input-group">
						<span class="input-group-addon showpcText">PC노출</span>
						<span class="input-group-addon bg-white wd-75">
							<div class="toggle-wrapper" id="showpc">
								<div class="toggle toggle-modern primary"></div>
							</div>
						</span>
						<span class="input-group-addon showmobileText">MOBILE노출</span>
						<span class="input-group-addon bg-white wd-75">
							<div class="toggle-wrapper" id="showmobile">
								<div class="toggle toggle-modern primary"></div>
							</div>
						</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"  id="btn_bannerObjSetup"> 저 장 </button>
				<button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal"> 취 소 </button>
			</div>
		</div>
	</div>
</div>
<!-- //Banner Setup Modal -->