<style>
    textarea#shareHtml {
        outline: none;
        border: none;
        resize: none;
        background: inherit;
        color: inherit;
        width: 100%;
        height: 100%;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
        text-align: inherit;
    }
</style>

<!-- 공유 MODAL -->
<div id="shareModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content bd-0 wd-500 tx-14">
        <div class="modal-header pd-x-20">
            <h2 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"></h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body pd-20">
            <label>가로</label><input type="text" name="xsize" id="xsize" value="730px">
            <label>세로</label><input type="text" name="ysize" id="ysize" value="400px">
            <textarea id="shareHtml" class="wd-450" rows="7"></textarea>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" id="shareBtn">복사</button>
            <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">닫기</button>
        </div>
        </div>
    </div>
</div><!-- modal -->

<input type="hidden" id="domain" name="domain" value="{company.this.domain.pc}" />
<script>
const domain = $('#domain').val();
let graphInfo = [];
let graphShare = (coId, idx, makeDate, title)=>{
    $('#shareHtml').text("<iframe frameborder='0' style='width:730px;height:400px;' src='"+domain+"/data/"+coId+"/chart/"+makeDate+"/"+idx+".html' data-img='"+domain+"/data/"+coId+"/chart/"+makeDate+"/"+idx+".png' data-thumb='"+domain+"/data/"+coId+"/chart/"+makeDate+"/"+idx+"_thumb.png'></iframe>");

    $('#shareModal').find('h2').empty().append(title);
    $('#shareModal').modal('show');

    graphInfo['coId'] = coId;
    graphInfo['idx'] = idx;
    graphInfo['makeDate'] = makeDate;
    graphInfo['title'] = title;
}

$('#shareBtn').on('click', ()=>{
    $("#shareHtml").select();
    document.execCommand('copy');
    alert("클립보드에 복사되었습니다.");
})

const xsize = document.getElementById ('xsize');
const ysize = document.getElementById ('ysize');

let changeSize = ()=> {
    let x = xsize.value;
    let y = ysize.value;
    $('#shareHtml').text("<iframe loading='lazy' frameborder='0' style='width:"+x+";height:"+y+";' src='"+domain+"/data/"+graphInfo['coId']+"/chart/"+graphInfo['makeDate']+"/"+graphInfo['idx']+".html' data-img='"+domain+"/data/"+graphInfo['coId']+"/chart/"+graphInfo['makeDate']+"/"+graphInfo['idx']+".png' data-thumb='"+domain+"/data/"+graphInfo['coId']+"/chart/"+graphInfo['makeDate']+"/"+graphInfo['idx']+"_thumb.png'></iframe>");

}

xsize.addEventListener ( 'keyup', changeSize);
ysize.addEventListener ( 'keyup', changeSize);
</script>