<!-- ########## START: HEAD PANEL ########## -->
<div class="br-header">
    <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="fa-solid fa-bars"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="fa-solid fa-bars"></i></a></div>
    </div><!-- br-header-left -->
    <div class="br-header-right">
        <nav class="nav">
            <img src="/img/kpf_icon.jpg" style="width: 160px;height: 26px;margin-top: 10px;margin-right: 10px;">
            <a href="/manual/EKN_Manual_v1.0.pdf" class="nav-link" target="_blank" style="display: flex;align-items: center;"><i class="fas fa-book" style="margin-right:5px"></i>WCMS매뉴얼</a>
            <div class="dropdown">
                <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
                    {? !empty(_SESSION.department)}{_SESSION.department.name}{/}
                    <span class="logged-name hidden-md-down">{_SESSION.managerName}</span>
                    <img src="{? empty(_SESSION.imagePath)}http://via.placeholder.com/64x64{:}{=preg_replace('/([A-z0-9]+)([.][0-9]+[x][0-9]+[.][0-9])?([.][A-z]+)$/', '$1.64x64.0$3', _SESSION.imagePath)}{/}" class="wd-32 rounded-circle" alt="{_SESSION.managerName}">
                    <span class="square-10 bg-success"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-header wd-200">
                    <ul class="list-unstyled user-profile-nav">
                        <li><a href="/logout"><i class="icon ion-power"></i> Log Out</a></li>
                        <li><a href="/manager/editor"><i class="icon ion-power"></i> 개인정보 변경</a></li>
                    </ul>
                </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
        </nav>
    </div><!-- br-header-right -->
</div><!-- br-header -->
<!-- ########## END: HEAD PANEL ########## -->