<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>wcms kodes - {company.this.name}</title>

<!-- vendor css -->
<!--link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet"-->
<script src="https://kit.fontawesome.com/abb3e4fcec.js" crossorigin="anonymous"></script>
<!-- <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"> -->
<link href="/lib/select2/css/select2.min.css" rel="stylesheet">
<link href="/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
<link href="/lib/jquery-toggles/toggles-full.css" rel="stylesheet">
<link href="/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">

<!-- Bracket CSS -->
<link href="/lib/bootstrap/bootstrap.css" rel="stylesheet">
<link href="/css/bracket.css?v=2022081701" rel="stylesheet">
<link href="/css/mojaik.css" rel="stylesheet">

<!-- script -->
<script src="/lib/jquery/jquery-3.6.0.min.js"></script>
<script src="/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="/lib/popper.js/popper.js"></script>
<script src="/lib/bootstrap/bootstrap.js"></script>
<script src="/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/lib/moment/moment.js"></script>
<script src="/lib/select2/js/select2.min.js"></script>
<script src="/lib/jquery-toggles/toggles.min.js"></script>
<script src="/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<!-- <script src="/js/jquery.ui.touch-punch.min.js"></script> -->

<script src="/js/bracket.js"></script>
<script src="/js/mojaik.js?v=2022092901"></script>

<link href="/lib/rwd-table/rwd-table.min.css" rel="stylesheet">
<script src="/lib/rwd-table/rwd-table.js"></script>