<!-- HTML Setup Modal -->
<div id="htmlModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable wd-800" role="document">
	  	<div class="modal-content wd-900 bd-0 tx-14">
			<div class="modal-header pd-y-20 pd-x-25">
		  		<h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Component Title</h6>
		  		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
		  		</button>
			</div>
			<div class="modal-body pd-25">
				<div class='boxTool' data-input-type="article">
					<input type="hidden" id="objId">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon3">위치명</span>
						<input type="text" class="form-control boxTitle pd-20" id="title" placeholder="화면에 표출될 박스 명입니다." />
					</div>
					<div class="input-group">
						<span class="input-group-addon showpcText">PC노출</span>
						<span class="input-group-addon bg-white wd-75">
							<div class="toggle-wrapper" id="showpc">
								<div class="toggle toggle-modern primary"></div>
							</div>
						</span>
						<span class="input-group-addon showmobileText">MOBILE노출</span>
						<span class="input-group-addon bg-white wd-75">
							<div class="toggle-wrapper" id="showmobile">
								<div class="toggle toggle-modern primary"></div>
							</div>
						</span>
					</div>
					<div class="row mg-b-10">
						<textarea id='content' name='content' style='height: 500px; width:800px'></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"  id="btn_saveHtmlObj"> 저 장 </button>
				<button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal"> 취 소 </button>
			</div>
	  	</div>
	</div>
</div>
<!-- //HTML Setup Modal -->
<script>
$('#graphBoxBtn').on('click',()=>{
	let data = '';
	data += '<div class="item border-round graphItem">\n';
	data += '	<div class="main-tit"></div>\n';
	data += '	<div class="graph">\n';
	data += '\n';
	data += '	</div>\n';
	data += '</div>\n';
	insertText(data);
});
</script>