<!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo"><a class="nav-link" href="{? company.this.domain.pc==''}javascript:;{:}{company.this.domain.pc}{/}"{? company.this.domain.pc!=''} target="_blank" {/}style="margin: 0 auto;padding: 0;">{? company.this.image.logo}<img src="{company.this.image.logo}" style="width: 80px;">{:}<span>[</span>KODES<span>]</span>{/}</a></div>
    <div class="br-sideleft overflow-y-auto">
        <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
        {_SESSION.leftmenu}
    </div>
</div>
<!-- ########## END: LEFT PANEL ########## -->
<script>
var path = location.toString();

$('.br-sideleft a').each(function(){
    var link = $(this).attr('href');
    var link2 = $(this).attr('data-link');

    if(path.indexOf(link) > -1){
        $(this).addClass('active');
        $(this).parent().parent().prev().addClass('show-sub');
    }else{
        var paths = path.split('/');
        paths[2] = 'list';
        const tmp = paths.join('/');

        if(link2){
            if(path.indexOf(link2) > -1){
                $(this).addClass('active');
                $(this).parent().parent().prev().addClass('show-sub');
            }
        }
        if(link.indexOf(tmp) > -1){
        }
    }
});
</script>