<div class="col-sm-6 ht-60 d-flex align-items-center tx-black tx-normal pd-l-20"><span>{=number_format(result.totalCount)}</span> 건</div>
<div class="col-sm-6 ht-60 d-flex align-items-center justify-content-end">
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-basic mg-b-0">
      <!--li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <i class="fa fa-angle-right"></i>
        </a>
      </li-->
	  {? result.page.prevPage}
      <li class="page-item">
        <a class="page-link" href="{_GET._url}?{=preg_replace('/([&]?page=[0-9]+)|(_url=[^&]+&)/i','', _SERVER.QUERY_STRING)}&page={result.page.prevPage}" aria-label="Previous">
          <i class="fa fa-angle-left"></i>
        </a>
      </li>
	  {/}
	  {@ result.page.navibar}{?.page>0}
      <li class="page-item {.class}"><a class="page-link" href="{_GET._url}?{=preg_replace('/([&]?page=[0-9]+)|(_url=[^&]+&)/i','', _SERVER.QUERY_STRING)}&page={.page}">{.page}</a></li>
      {/}{/}
	  {? result.page.nextPage}
      <li class="page-item">
        <a class="page-link" href="{_GET._url}?{=preg_replace('/([&]?page=[0-9]+)|(_url=[^&]+&)/i','', _SERVER.QUERY_STRING)}&page={result.page.nextPage}" aria-label="Next">
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
	  {/}
    </ul>
  </nav>
</div>