<div id="workingpopup" class="overlay">
    <div class="overlay-popup">
    <h2><span id="load-staus"></span></h2>
        <div class="loader"></div>
    </div>
</div>
<style>
	#workingpopup {display: hidden;}
</style>