{? result.article.status == 'publish'}
<!-- 댓글 영역 -->
<script type="text/javascript" src="/js/member.js"></script>
<script type="text/javascript" src="/js/comment.js"></script>
<div class="box comment_area" data-aid="{result.article.aid}" data-provider="{? !empty(_SESSION.provider)}{_SESSION.provider}{/}" data-member-id="{? !empty(_SESSION.memberId)}{_SESSION.memberId}{/}">
    <div class="box_title">
        <h3 class="name">댓글</h3><span class="count">(<span class="num">{? result.comment}{=count(result.comment)}{:}0{/}</span>)</span>
        {? result.naverApiURL}<a data-social-login="NAVER" data-api-url="{result.naverApiURL}" data-provider="{? !empty(_SESSION.provider)}{_SESSION.provider}{/}" data-member-id="{? !empty(_SESSION.memberId)}{_SESSION.memberId}{/}" class="btn_social_login" href="javascript:;"><img src="/img/login_naver.png" style="{? !empty(_SESSION.memberId) && _SESSION.provider != 'NAVER'}filter: grayscale(1);{/}" /></a>{/}
        {? result.kakaoApiURL}<a data-social-login="KAKAO" data-api-url="{result.kakaoApiURL}" data-provider="{? !empty(_SESSION.provider)}{_SESSION.provider}{/}" data-member-id="{? !empty(_SESSION.memberId)}{_SESSION.memberId}{/}" class="btn_social_login" href="javascript:;"><img src="/img/login_kakaotalk.png" style="{? !empty(_SESSION.memberId) && _SESSION.provider != 'KAKAO'}filter: grayscale(1);{/}" /></a>{/}
        {? result.googleApiURL}<a data-social-login="GOOGLE" data-api-url="{result.googleApiURL}" data-provider="{? !empty(_SESSION.provider)}{_SESSION.provider}{/}" data-member-id="{? !empty(_SESSION.memberId)}{_SESSION.memberId}{/}" class="btn_social_login" href="javascript:;"><img src="/img/login_google_s.png" style="{? !empty(_SESSION.memberId) && _SESSION.provider != 'GOOGLE'}filter: grayscale(1);{/}" /></a>{/}
        {? !empty(_SESSION.memberId)}
        <a href="/logout" class="btn_social_login">로그아웃</a>
        {/}
    </div>
    <div class="input">
        <form id="comment_form">
            <input type="hidden" id="provider" name="provider" value="{? !empty(_SESSION.provider)}{_SESSION.provider}{/}">
            <input type="hidden" id="memberId" name="memberId" value="{? !empty(_SESSION.memberId)}{_SESSION.memberId}{/}">
            <input type="hidden" name="aid" value="{result.article.aid}">
            <input type="hidden" name="title" value="{result.article.title}">
            <textarea class="comment_input" name="comment" id="comment" rows="5" placeholder="{? empty(_SESSION.memberId)}소셜 로그인을 해주세요.{:}이곳에 댓글을 남겨주세요.{/}"></textarea>
            <div class="button_wrap">
                <span class="info">※ 댓글 작성시 상대방에 대한 배려와 책임을 담아 깨끗한 댓글 환경에 동참에 주세요.</span>
                <span class="length"><span class="comment_length">0</span> / 300</span>
                <button id="btnSaveComment">등록</button>
            </div>
        </form>
    </div>
    
    {? result.comment}
    <div class="sort">
        <span data-sort="date-desc" class="item active">최신순</span>
        <span data-sort="date-asc" class="item">과거순</span>
        <span data-sort="up-desc" class="item">공감순</span>
    </div>
    <ul class="list">
        {@ result.comment}
        <li class="item" data-cid="{.cid}" data-aid="{.aid}" data-write-id="{.writeId}">
            <img class="thumb" src="{.profileImage}" alt="{.writeName}">
            <div class="text_box">
                <div class="title">
                    <span class="name">{.writeName}</span>
                    <span class="date">{.writeDate}</span>
                    {? .writeId == _SESSION.memberId}
                    <div class="more">
                        <div class="open"></div>
                        <div class="more_menu">
                            <!-- <button class="more_item" data-comment-update>수정하기</button> -->
                            <button class="more_item" data-comment-delete>삭제</button>
                        </div>
                    </div>
                    {/}
                </div>
                <div class="comment">{=str_replace("\n",'<br>',.comment)}</div>
                <div class="like">
                    <span class="up">{=number_format(.up)}</span>
                    <span class="down">{=number_format(.down)}</span>
                </div>
            </div>
        </li>
        {/}
    </ul>
    {/}
</div>
<!-- //댓글 영역 -->
{/}