<!-- header -->
<header>

       
        {header.html}

</header>

<script>
    $(document).ready(function(){


        var d = new Date();
        var weekname=['일','월','화','수','목','금','토'];
        var today=d.getFullYear()+'년 '+(d.getMonth() + 1)+'월 '+d.getDate()+'일 ('+weekname[d.getDay()]+')';
        $(document).ready(function(){
            $('header .date').append(today);
        });


    });
</script>
<!--// header -->