<!-- css -->
<link href="/lib/slick/slick.css" rel="stylesheet" type="text/css">
<link href="/css/pc/font.css" rel="stylesheet" type="text/css">
<link href="/css/pc/layout.css?v=2023060201" rel="stylesheet" type="text/css">
<link href="/css/pc/box.css?v=2023071701" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

<!-- script -->
<script src="https://kit.fontawesome.com/2797adada1.js" type="text/javascript" crossorigin="anonymous"></script>
<script src="/lib/jquery/jquery-3.6.0.min.js" type="text/javascript"></script>
<script src="/lib/jquery/jquery.cookie.js" type="text/javascript"></script>
<script src="/lib/slick/slick.min.js" type="text/javascript"></script>
<script src="/js/common.js" type="text/javascript"></script>
<script src="/js/search.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="https://securepubads.g.doubleclick.net/tag/js/gpt.js" async=""></script>
