<!-- 팝업 -->
<script type="text/javascript">
    function layerClose(obj){
        var $obj = $(obj).closest('.popup_footer').find('#popupCheck');
        if($obj.is(':checked')){
            $.cookie($obj.val(), '1', {expires: 1, path: '/'});
        }
        $obj.closest('.popup').remove();
    }

    $(document).ready(function(){
    {@ result.popup}
        {? .serviceType == 'popup'}
            if(!$.cookie('{.id}')){
                var url = "/popup/view/{.id}";
                var name = "{.id}";
                var option = "top = {? .marginY}{.marginY}{:}0{/}, left = {? .marginX}{.marginX}{:}0{/}, width = {? !empty(.files[0].width) &&.files[0].width > 300}{.files[0].width}{: !empty(.sizeX)}{.sizeX}{:}300{/}, height = {? !empty(.files[0].height) &&.files[0].height > 300}{.files[0].height + 31}{: !empty(.sizeY)}{.sizeY}{:}300{/}, toolbar=no, resizable=no, scrollbars=no";
                window.open(url, name, option);
            }
        {: .serviceType == 'layer'}
            if(!$.cookie('{.id}')){
                var html = '';
                html += '<div class="popup layer" style="top: {? .marginY}{.marginY}{:}0{/}px;left: {? .marginX}{.marginX}{:}0{/}px;width: {? !empty(.files[0].width) &&.files[0].width > 300}{.files[0].width}{: !empty(.sizeX)}{.sizeX}{:}300{/}px;height: auto;{? !empty(.sizeY)}max-height: {.sizeY}px;{/}">';
                // html += '<div class="popup layer" style="top: {? .marginY}{.marginY}{:}0{/}px;left: {? .marginX}{.marginX}{:}0{/}px;width: {? .files[0].width < 250}250{:}{.files[0].width}{/}px;height: {.files[0].height + 30}px;">';
                html += ' <div class="popup_content">';
                {? !empty(.content)} html += '{.content}';
                {: !empty(.files[0].path)}
                    {? !empty(.link)} html += ' <a href="{.link}" target="_blank">'; {/}
                    html += '  <img src="{.files[0].path}">';
                    {? !empty(.link)} html += ' </a>'; {/}
                {/}
                html += ' </div>';
                html += ' <div class="popup_footer">';
                html += '   24시간 동안 팝업을 열지 않습니다.';
                html += '   <input type="checkbox" name="popupCheck" id="popupCheck" value="{.id}">';
                html += '   <button onclick="layerClose(this);">닫기</button>';
                html += ' </div>';
                html += '</div>';
                $('body').append(html);
            }
        {/}
    {/}
    });
</script>
<!-- 팝업 -->