{? !empty(result.program)}
<!-- 프로그램 -->
<div class="box programIntro">
    <!-- <div class="box_title">
        <h3 class="name">프로그램 소개</h3>
    </div> -->
    <div class="list">
        <article class="article">
            <!-- <a class="link" href="#"> -->
                <div class="thumb">
                    <div class="background" style="background-image: url({=preg_replace('/([A-z0-9]+)([.][0-9]+[x][0-9]+[.][0-9])?([.][A-z]+)$/', '$1.620x.0$3', result.program.image.posterWidth)});">
                        <img src="{=preg_replace('/([A-z0-9]+)([.][0-9]+[x][0-9]+[.][0-9])?([.][A-z]+)$/', '$1.620x.0$3', result.program.image.posterWidth)}" alt="{result.program.name}">
                    </div>
                </div>
            <!-- </a> -->
            <div class="text_box">
                <h4 class="title underline">{? empty(result.program.intro.title)}{result.program.name}{:}{result.program.intro.title}{/}</h4>
                {? !empty(result.program.intro.subTitle)}<div class="subTitle">{result.program.intro.subTitle}</div>{/}
                {? !empty(result.program.intro.description)}<div class="desc">{=nl2br(result.program.intro.description)}</div>{/}
                <div class="info">
                    {? !empty(result.program.intro.airDate)}<dl><dt>방송일시</dt><dd>{=nl2br(result.program.intro.airDate)}</dd></dl>{/}
                    {? !empty(result.program.intro.producer)}<dl><dt>책임프로듀서</dt><dd>{result.program.intro.producer}</dd></dl>{/}
                    {? !empty(result.program.intro.director)}<dl><dt>연출</dt><dd>{result.program.intro.director}</dd></dl>{/}
                    {? !empty(result.program.intro.writer)}<dl><dt>작가</dt><dd>{result.program.intro.writer}</dd></dl>{/}
                    {? !empty(result.program.intro.scriptwriter)}<dl><dt>구성</dt><dd>{result.program.intro.scriptwriter}</dd></dl>{/}
                    {? !empty(result.program.intro.planner)}<dl><dt>기획</dt><dd>{result.program.intro.planner}</dd></dl>{/}
                    {? !empty(result.program.intro.mc)}<dl><dt>진행</dt><dd>{result.program.intro.mc}</dd></dl>{/}
                    {? !empty(result.program.intro.production)}<dl><dt>제작</dt><dd>{result.program.intro.production}</dd></dl>{/}
                    {? !empty(result.program.intro.sms)}<dl><dt>문자참여번호</dt><dd>{result.program.intro.sms}</dd></dl>{/}
                </div>
            </div>
        </article>
    </div>
</div>
{/}

<script>
    $(function(){

        if($('body').hasClass('tv_background')){
            $('.programIntro .article .title').addClass('white');
        }

    });
</script>