<div>
    <ul class="social">
        <li><a href="#" onclick="javascript:window.open('https://story.kakao.com/s/share?url='
            +encodeURIComponent(document.URL), 'kakaosharedialog',
            'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><img src="/img/kakao2.png" alt="카카오공유"></a></li>
        <li><a href="#" onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u='
            +encodeURIComponent(document.URL)+'&amp;t='+encodeURIComponent(document.title), 'facebooksharedialog',
            'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" title="Facebook" alt="Facebook"><img src="/img/facebook.png" alt="페이스북 공유"></a></li>
        <li><a href="#" onclick="javascript:window.open('https://twitter.com/intent/tweet?text='+encodeURIComponent(document.title)+'%20-%20'+encodeURIComponent(document.URL), 'twittersharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><img src="/img/twitter.png" alt="트위터 공유"></a></li>
        <li><a href="#" onclick="javascript:window.open('http://share.naver.com/web/shareView.nhn?url='+encodeURIComponent(document.URL)+'&ncode={result.article.aid}&title='
            +encodeURIComponent(document.title), 'naversharedialog',
            'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><img src="/img/naver.png" alt="네이버 공유"></a></li>
        <li><a href="#" onclick="javascript:window.open('http://band.us/plugin/share?body='+encodeURIComponent(document.title)+'&amp;route='+ encodeURIComponent(document.domain), 'naversharedialog',
            'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><img src="/img/blog.png" alt="네이버밴드 공유"></a></li>
    </ul>
</div>