<div id="scroll_layer_Left" style="width: 150px; height: 250px; right : calc( 50% + 660px ); position: fixed; top: 220px;z-index:1000">
    {result.sideBanner.items.BC_1671071886668.html}
    {result.sideBanner.items.BC_1671175611212.html}
    
</div>

<div id="scroll_layer_Right" style="width: 150px; height: 250px; left: calc( 50% + 660px ); position: fixed; top: 220px;z-index:1000">
    {result.sideBanner.items.BC_1671071888058.html}
    {result.sideBanner.items.BC_1671175612890.html}
</div>